<!--

Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

-->

<h3>Confirmation de récupération pour le système Webhelp #productName#</h3>

<p>Vous avez demandé une récupération de mot de passe pour le système de feedback de notre produit #product#.</p>

<br/>Veuillez le confirmer en cliquant sur le lien suivant :

<br/>#link#

