<!--
    
Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

-->

Nouveau commentaire ajouté pour la page <a href="#page#">#page#</a> par '#user#' avec le contenu :<br/>

<pre>#text#</pre>
