<!--
    
Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

-->

<h3>Bienvenue #name# [#username#] au système Webhelp #productName# !</h3>

Veuillez cliquer sur le lien suivant afin de confirmer votre inscription :
<br/>
#confirmationLink#
<br/>
Le lien fourni est valide uniquement 7 jours !
<br/>
Votre compte nouvellement créé est valide pour ces produits :
<br/> 
#products#