@namespace oxy "http://www.oxygenxml.com/extensions/author";

/* colors as variables */
@borderColor:               #D89E36;
@hintsColor:                #105B63;
@placeholderColor:          #BD4932;
@focusedPlaceholderColor:   #105B63;
@hintsBgNormal:             rgba(255, 250, 213, 0.60); /*#FFFAD5*/
@hintsBgImportant:          rgba(255, 211, 78, 0.60);  /*#FFD34E*/
@placeholderWarningColor:   saturate(@placeholderColor, 80%);

/* before layer used for hints */
@hintsLayer:            201;     

/* hints styles */
*:before(@{hintsLayer}){
    border:1px solid @borderColor;
    background-color: @hintsBgNormal;
}

/* define mixins */
.important-hint() {
    &:before(@{hintsLayer}) {
        background-color: @hintsBgImportant !important;
    }
}
.hints(@category: 'hints'; @layer:@hintsLayer) {
    &:before(@{layer}) {
      display:block;
      font-family:arial, helvetica, sans-serif;
      line-height:1rem;
      margin-top:0.4em;
      margin-bottom:0.2em;
      content:
        oxy_htmlContent( 
            href, 'hints.html',
            id, oxy_concat(@category, '-', oxy_local-name()), 
            width, 100%
        ); 
    }
}
.topic-hints()                  {.hints('topic-hints');} 
.task-hints()                   {.hints('task-hints');} 
.concept-hints()                {.hints('concept-hints');}
.reference-hints()              {.hints('reference-hints');}
.glossary-hints()               {.hints('glossary-hints');}
.mi-hints()                     {.hints('mi-hints');}
.tr-hints()                     {.hints('tr-hints');}

.placeholder(@content;  @color:@placeholderColor) {

    &:empty {
        color:@color!important;
        -oxy-show-placeholder:always;
        -oxy-placeholder-content: @content;
    }
    
@media oxygen-high-contrast-black {
    &:empty {
        color:white!important;
    }
}    
    /*&:empty:focus   {color:@focusedPlaceholderColor!important;}*/
}
.placeholder-warning(@content) {
    .placeholder(@content, @placeholderWarningColor);
}


/* Hints and placeholders */

/* Topic types */
topic       {.topic-hints();    .important-hint();.placeholder("Enter topic content");}
concept     {.concept-hints();  .important-hint();.placeholder("Enter concept content");}
task        {.task-hints;       .important-hint();.placeholder("Enter task content");}
reference   {.reference-hints;  .important-hint();.placeholder("Enter reference content");}
glossgroup  {.glossary-hints(); .important-hint();.placeholder("Enter glossary entries");}

/* Main body elements */
body            {.placeholder("Enter main topic content");}
taskbody        {.placeholder("Enter main task content");}
refbody         {.placeholder("Enter main reference content");}
conbody         {.placeholder("Enter main concept content");}
glossBody       {.placeholder("Enter glossary body content");}

/* titles */
title               {.placeholder("Enter title");}
section > title     {.placeholder("Enter section title");}
topic > title       {.topic-hints();        .placeholder("Enter topic title");}
reference > title   {.reference-hints();    .placeholder("Enter reference title");}
task > title        {.task-hints();         .placeholder("Enter task title");}
concept > title     {.concept-hints();      .placeholder("Enter concept title");}
glossterm           {.placeholder("Enter term");}

titlealts       {.hints();.placeholder("Enter alternative navigation and search title");}
navtitle        {.placeholder("Enter navigation title");}
searchtitle     {.placeholder("Enter search title");}

/* abstract and short descriptions */
abstract    {.hints();.placeholder("Enter abstract information");}
shortdesc   {.placeholder("Enter short description");}
topic > shortdesc               {.topic-hints();}
topic > abstract > shortdesc    {.topic-hints();}
task > shortdesc                {.task-hints();}
task > abstract > shortdesc     {.task-hints();}
concept > shortdesc             {.concept-hints();}
concept > abstract > shortdesc  {.concept-hints();}
reference > shortdesc           {.reference-hints();}
reference > abstract > shortdesc{.reference-hints();}

/* lists */
sl              {.hints();.placeholder("Enter simple list items");}
sli             {.placeholder("Enter simple list item");}

ul              {.placeholder("Enter unordered list items");}
ol              {.placeholder("Enter ordered list items");}
li              {.placeholder("Enter list item");}

dl              {.hints();.placeholder("Enter definition list entries");}
dlhead          {.placeholder("Enter definition list head information");}
dthd            {.placeholder("Enter definition term heading");}
ddhd            {.placeholder("Enter definition description heading");}
dlentry         {.placeholder("Enter definition list entry");}
dt              {.placeholder("Enter definition term");}
dd              {.placeholder("Enter definition description");}

parml           {.hints();}
plentry         {.placeholder("Enter parameter list entry");}
pt              {.placeholder("Enter parameter name");}
pd              {.placeholder("Enter parameter definition");}

/* task steps */
steps           {.task-hints();.placeholder("Enter ordered steps information");}
steps-unordered {.task-hints();.placeholder("Enter unordered steps information");}
steps-informal  {.task-hints();.placeholder("Enter informal steps information");}
step            {.placeholder("You need to enter a command for this step!");}
cmd             {.placeholder("Enter step action");}

/* hints and placeholders */

p           {.placeholder("Enter paragraph content");}
pre         {.placeholder("Enter preformated content");}

codeblock   {.hints();.placeholder("Enter code fragments");}
screen      {.hints();.placeholder("Enter screen content");}
lines       {.hints();.placeholder("Enter lines");}

bodydiv     {.topic-hints();.placeholder("Enter body div content");}
sectiondiv  {.topic-hints();.placeholder("Enter section div content");}
conbodydiv  {.concept-hints;.placeholder("Enter concept body div content");}
refbodydiv  {.reference-hints;.placeholder("Enter reference body div content");}

prolog      {.hints();.placeholder("Enter prolog information");}
author      {.placeholder("Enter author name");}
source      {.placeholder("Enter a reference to a resource");}
publisher   {.placeholder("Enter publisher name");}
copyrholder {.placeholder("Enter copyright holder");}
critdates   {.placeholder("Enter creation and revision dates");}

metadata    {.hints();.placeholder("Enter metadata information");}
audience    {.placeholder("Enter audience");}
category    {.placeholder("Enter category");}
keywords    {.placeholder("Enter keywords");}
prodinfo    {.placeholder("Enter product information");}
prodname    {.placeholder("Enter product name");}
vrmlist     {.placeholder("Enter product version information");}

section         {.hints();.placeholder("Enter section content");}
syntaxdiagram   {.hints();.placeholder("Enter syntax diagram content");}

lq          {.hints();.placeholder("Enter long quote");}
msgblock    {.hints();.placeholder("Enter message block content");}
note        {.hints();.placeholder("Enter note content");}
fig         {.hints();.placeholder("Enter figure content");}
example     {.hints();.placeholder("Enter example");}
desc        {.hints();.placeholder("Enter description");}

draft-comment   {.hints();.placeholder("Enter commment");}

related-links   {.hints();}
linklist        {.hints();.placeholder("Enter link list content");}
linkinfo        {.hints();.placeholder("Enter link information");}
linkpool        {.hints();.placeholder("Enter link pool content");}

hazardstatement {.hints();.placeholder("Enter hazard information");}
typeofhazard    {.placeholder("Specify the hazard type");}
consequence     {.placeholder("Enter the consequences of not avoiding the hazard");}
howtoavoid      {.placeholder("Specify how to avoid the hazard");}
hazardsymbol:not([href]):not([keyref]) {
    .placeholder-warning("Set href or keyref for this hazard symbol!");
}

imagemap        {.hints();}
coords          {.placeholder("Enter coordinates");}

taskbody > prereq   {.task-hints();.placeholder("Enter pre-requisites");}
taskbody > context  {.task-hints();.placeholder("Enter context information");}

step > stepresult   {.task-hints();}
substep > stepresult{.task-hints();}
stepresult          {.placeholder("Enter the result of this step");}

choices {.task-hints();}
choice  {.placeholder("Provide an option");}

step > info         {.task-hints();  .placeholder("Enter step information");}
substep > info      {.task-hints();  .placeholder("Enter substep information");}

step > tutorialinfo     {.task-hints();.placeholder("Enter tutorial information");}
substep > tutorialinfo  {.task-hints();.placeholder("Enter tutorial information");}

step > stepxmp      {.task-hints();.placeholder("Provide a step example");}
substep > stepxmp   {.task-hints();.placeholder("Provide a step example");}

step > substeps     {.task-hints();}

taskbody > result   {.task-hints();.placeholder("Enter the result of the task");}
taskbody > postreq  {.task-hints();.placeholder("Enter post-requisites");}
stepsection         {.task-hints();.placeholder("Enter step section information");}

refsyn      {.reference-hints();.placeholder("Enter reference syntax content");}
properties  {.reference-hints();}

/* links */
xref:not([href]):not([keyref]) {
    .placeholder-warning("Set href or keyref for this cross reference!");
}
/* references to long quote and long description */
longquoteref:not([href]):not([keyref])  {
    .placeholder-warning("Set href or keyref on this long quote");
}
longdescref:not([href]):not([keyref])   {
    .placeholder-warning("Set href or keyref on this long description");
}

table {.hints();}

/* glossary */
glossentry  {.glossary-hints();.placeholder("Enter glossary entry");}
glossdef    {.placeholder("Enter definition");}
glossAlt    {.glossary-hints();.placeholder("Alternative term");}
glossAbbreviation   {.placeholder("Enter abbreviated form of the term");}
glossAcronym        {.placeholder("Enter acronym");}
glossShortForm      {.placeholder("Enter short form alternative");}
glossSynonym        {.placeholder("Enter synonym");}
glossUsage          {.placeholder("Enter usage information");}
glossStatus         {.placeholder("Enter usage status");}
glossProperty       {.placeholder("Enter additional details");}
glossPartOfSpeech   {.placeholder("Enter part of speech information");}
glossSurfaceForm    {.placeholder("Enter surface form information");}
glossScopeNote  {.glossary-hints();.placeholder("Enter scope note");}

/* machine industry */
prelreqs    {.mi-hints();.placeholder("Enter preliminary requirements");}
closereqs   {.mi-hints();.placeholder("Enter closing requirements");}

reqconds    {.mi-hints();.placeholder("Enter required conditions");}
reqcond     {.placeholder("Enter required condition");}
reqcontp    {.placeholder("Enter a technical publication");}

reqpers     {.mi-hints();.placeholder("Enter required personnel");}
personnel   {.placeholder("Enter the number of personnel");}
perscat     {.placeholder("Enter required category level");}
perskill    {.placeholder("Enter required skill level");}
esttime     {.placeholder("Enter time estimate");}

supequip    {.mi-hints();.placeholder("Enter support equipment");}
supeqli     {.placeholder("Enter support equipment items");}
supequi     {.placeholder("Enter support equipment item");}

supplies    {.mi-hints();.placeholder("Enter supplies");}
supplyli    {.placeholder("Enter supply items");}
supply      {.placeholder("Enter supply description");}

spares      {.mi-hints();.placeholder("Enter spare parts");}
sparesli    {.placeholder("Enter spare parts items");}
spare       {.placeholder("Enter spare part description");}

safety      {.mi-hints();.placeholder("Enter safety information");}
safecond    {.placeholder("Enter safety condition");}

/* troubleshooting */
troubleshooting {.tr-hints();.important-hint();}
condition       {.tr-hints();.placeholder("Describe the condition to be corrected");}
troubleSolution {.tr-hints();.placeholder("Describe a possible solution");}
cause           {.tr-hints();.placeholder("Describe a possible cause");}
remedy          {.tr-hints();.placeholder("Describe a possible remedy");}
responsibleParty{.tr-hints();.placeholder("Who should perform the remedy procedure?");}

troubleshooting > shortdesc {.tr-hints();}


/* Specific rules by platform */
@media oxygen and (platform:standalone), oxygen and (platform:eclipse) {
    simpletable {.hints();}
    choicetable{.task-hints();}
}
@media oxygen and (platform:webapp) {
    
}