/*
 * ==================================================
 * ==================================================
 * 
 * Centralizes all the colors used for styling DITA elements
 * and defines also the high-contrast theme colors.
 * 
 * Note: The form control colors are not defined here.
 * 
 * ==================================================
 * ==================================================
 * 
 */
@namespace oxy "http://www.oxygenxml.com/extensions/author";
@media oxygen-high-contrast-black {
  /* ====================================
     *
     * built-in oXygen elements
     * 
     */
  oxy|comment {
    color: #3DB39B !important;
    background-color: transparent !important;
  }
  oxy|reference,
  oxy|entity {
    background-color: transparent !important;
  }
  /* ====================================
     *
     * Reset all the elements colors. 
     */
  *:before,
  *,
  *:after {
    color: inherit !important;
    background-color: inherit !important;
    border-color: inherit !important;
  }
}


*[class~="pr-d/syntaxdiagram"] {
  color: maroon;
}
@media oxygen-high-contrast-black {
  *[class~="pr-d/syntaxdiagram"] {
    color: #A63D17 !important;
  }
}



*[class~="reference/properties"] {
  border-color: #ff9494;
}
*[class~="reference/prophead"] {
  background-color: #ffe0e0;
}
@media oxygen-high-contrast-black {
  *[class~="reference/properties"] {
    border-color: inherit !important;
  }
  *[class~="reference/prophead"] {
    background-color: inherit !important;
  }
}


/* ====================================
 *
 * Tables
 */
*[class~="topic/table"] {
  border-color: transparent;
}
*[class~="topic/thead"],
*[class~="map/relheader"] {
  background-color: #EEFAFF;
}
@media print {
  *[class~="topic/thead"],
  *[class~="map/relheader"] {
    background-color: inherit;
  }
}
@media oxygen-high-contrast-black {
  *[class~="topic/thead"],
  *[class~="map/relheader"] {
    background-color: blue !important;
  }
}
*[class~="topic/entry"] {
  border-color: #EEEEEE;
}



/* ====================================
 *
 * Formatted text.
 */
*[class~="topic/pre"] {
  background-color: #F0F0F0;
}
@media oxygen-high-contrast-black {
  *[class~="topic/pre"] {
    background-color: inherit;
  }
}



/* ====================================
 *
 * Editorial
 */
*[class~="topic/draft-comment"] {
  background-color: #99FF99;
  border-left-color: green;
  border-right-color: green;
}
@media oxygen-high-contrast-black {
  *[class~="topic/draft-comment"] {
    background-color: green !important;
  }
}
*[class~="topic/required-cleanup"] {
  background-color: #FFFF99;
  border-left-color: red;
}
@media oxygen-high-contrast-black {
  *[class~="topic/required-cleanup"] {
    background-color: red !important;
  }
}
@media oxygen-high-contrast-black {
  *[class~="topic/pre"] {
    color: black !important;
    background-color: #FFE080 !important;
  }
}
*[class~="topic/indextermref"] {
  color: red;
}



/* ====================================
 *
 * Metainfo  
 */
*[class~="topic/prolog"],
*[class~="map/topicmeta"] {
border-color: #e5e500;
background-color: #FFFFD9;
}
*[class~="topic/prolog"] > *,
*[class~="map/topicmeta"] > * {
border-top-color: #e5e500;
}
@media oxygen-high-contrast-black {
  *[class~="topic/prolog"],
  *[class~="map/topicmeta"] {
    color: black !important;
    background-color: #FFE080 !important;
  }
}



/* ====================================
 *
 * Specialization
 */
*[class~="topic/boolean"] {
  color: green;
}
*[class~="topic/state"] {
  color: green;
}
*[class~="topic/no-topic-nesting"]:before {
  color: red;
}
*[class~="topic/example"] {
  border-color: gray;
}



/* ====================================
 *
 * Links
 */
*[class~="topic/link"][role]:before {
  color: black;
}
@media oxygen-high-contrast-black {
  *[class~="topic/link"][role]:before {
    color: inherit;
  }
}
*[keyref]:before,
*[href]:before,
*[mapref]:before,
*[class~="topic/link"],
*[class~="topic/xref"],
*[class~="topic/longquoteref"][href]:before,
*[class~="topic/source"][href]:after {
  /* -link-color >>> */
  color: navy;
  /* <<< */
}

@media oxygen{

    /* These are breaking the Prince publishing. Better isolated in an oXygen @media */
    *:before(1100),
    *:before(1050),
    *:before(1040),
    *:before(1030),
    *:before(1020) {
      /* -link-color >>> */
      color: navy;
      /* <<< */    
    }

    *:before(1010) {
      color: purple;
    }
}

@media oxygen-high-contrast-black {
  *[keyref]:before,
  *[href]:before,
  *[mapref]:before,
  *:before(1100),
  *:before(1050),
  *:before(1040),
  *:before(1030),
  *:before(1020),
  *:before(1010),
  *[class~="topic/link"],
  *[class~="topic/xref"],
  *[class~="topic/longquoteref"][href]:before,
  *[class~="topic/source"][href]:after {
    /* -link-color >>> */
    color: #AAAAFF !important;
    /* <<< */
  }
  
  *:before(1010) {
    color: inherit;
  }
}
/* ====================================
 *
 * Troubleshooting.
 */
*[class~='troubleshooting/troubleSolution'],
*[class~="task/tasktroubleshooting"],
*[class~="task/steptroubleshooting"] {
  border-color: gray;
}
@media oxygen-high-contrast-black {
  *[class~='troubleshooting/troubleSolution'],
  *[class~="task/tasktroubleshooting"],
  *[class~="task/steptroubleshooting"] {
    border-color: yellow;
  }
}
