@namespace oxy "http://www.oxygenxml.com/extensions/author";

/* EXM-22130 If a table refers other table, its display is block */
*[class~="topic/table"][conref]:not([conaction]),
*[class~="topic/table"][conkeyref]:not([conaction]){
    display : block;
}

/* EXM-17012 Avoid layout messages in tables with conref */
*[class~="topic/simpletable"][conref]:not([conaction]),
*[class~="topic/simpletable"][conkeyref]:not([conaction]){
    display : block;
}
/*No margins and static content to elements with conref.
The content will we present on the conreffed element.*/
*[conref]:not([conaction]) > *,
*[conkeyref]:not([conaction]) > *{
    background-color:inherit;
    margin:0;
    padding:0;
    border:none;
}
/*EXM-20282 Remove static text, no margins*/
*[conref]:not([conaction]):before,
*[conkeyref]:not([conaction]):before{
    content:"";
    display:inline;
    margin:0px;
}
/*EXM-33149 We might also have an after content.*/
*[conref]:not([conaction]):after,
*[conkeyref]:not([conaction]):after{
    content:"";
    display:inline;
    margin:0px;
}
/* start conref/conkeyref handling */
/* Hides the required content that is not needed for display on conkeyref and conref */
*[conref]:-oxy-has-valid-referenced-content 
            > *:not(:-oxy-referenced-content):not(oxy|reference),
*[conkeyref]:-oxy-has-valid-referenced-content 
            > *:not(:-oxy-referenced-content):not(oxy|reference)
{
    display : none !important;
}

*[conref]:-oxy-has-valid-referenced-content,
*[conkeyref]:-oxy-has-valid-referenced-content {
	visibility:-oxy-collapse-text;
}

oxy|reference, 
*[conref]:-oxy-has-valid-referenced-content > *:-oxy-referenced-content,
*[conkeyref]:-oxy-has-valid-referenced-content > *:-oxy-referenced-content{
	visibility:visible;
}

/* --- end conref/conkeyref handling --- */

/*EXM-16989 Some conref cases start*/
/* Try to avoid re-declaring the counter when a content reference is used */

*[class~="topic/ul"] > *[class~="topic/li"][conref]:not([conaction]),
*[class~="topic/ul"] > *[class~="topic/li"][conkeyref]:not([conaction]) {
    display: block;    
}

/*  OL  -  LI */
*[class~="topic/ol"] > *[class~="topic/li"][conref]:not([conaction])    > *[class~="topic/li"]:first-child,
*[class~="topic/ol"] > *[class~="topic/li"][conkeyref]:not([conaction]) > *[class~="topic/li"]:first-child {
    counter-reset: none;
}

*[class~="topic/ol"] > *[class~="topic/li"][conref]:not([conaction]),
*[class~="topic/ol"] > *[class~="topic/li"][conkeyref]:not([conaction]){
    counter-increment: none;
}

*[class~="topic/ol"] > *[class~="topic/li"][conref]:not([conaction]):before,
*[class~="topic/ol"] > *[class~="topic/li"][conkeyref]:not([conaction]):before{
   /*Avoid showing the counter*/
    content: "";
}

/* Counter increment for the first, second, third and fourth level of ordered list*/
*[class~="topic/ol"] > *[class~="topic/li"][conref]:not([conaction])    > *[class~="topic/li"],
*[class~="topic/ol"] > *[class~="topic/li"][conkeyref]:not([conaction]) > *[class~="topic/li"]{
    counter-increment: item-count;
}

/* Counter display for the first, second, third and fourth level of ordered list*/
*[class~="topic/ol"] > *[class~="topic/li"][conref]:not([conaction])    > *[class~="topic/li"]:before,
*[class~="topic/ol"] > *[class~="topic/li"][conkeyref]:not([conaction]) > *[class~="topic/li"]:before{
    content: counter(item-count, decimal) ". ";
    font-weight:bold;
}
*[class~="topic/ol"] *[class~="topic/ol"] > *[class~="topic/li"][conref]:not([conaction])    > *[class~="topic/li"]:before,
*[class~="topic/ol"] *[class~="topic/ol"] > *[class~="topic/li"][conkeyref]:not([conaction]) > *[class~="topic/li"]:before{
    content: counter(item-count, lower-alpha) ". ";
}
*[class~="topic/ol"] *[class~="topic/ol"] *[class~="topic/ol"] > *[class~="topic/li"][conref]:not([conaction])    > *[class~="topic/li"]:before,
*[class~="topic/ol"] *[class~="topic/ol"] *[class~="topic/ol"] > *[class~="topic/li"][conkeyref]:not([conaction]) > *[class~="topic/li"]:before{
    content: counter(item-count, lower-roman) ". ";
}
*[class~="topic/ol"] *[class~="topic/ol"] *[class~="topic/ol"] *[class~="topic/ol"] > *[class~="topic/li"][conref]:not([conaction])    > *[class~="topic/li"]:before,
*[class~="topic/ol"] *[class~="topic/ol"] *[class~="topic/ol"] *[class~="topic/ol"] > *[class~="topic/li"][conkeyref]:not([conaction]) > *[class~="topic/li"]:before{
    content: counter(item-count, decimal) ". ";
}

*[class~="topic/ol"] > *[class~="topic/li"][conref]:not([conaction])    > *[class~="topic/li"],
*[class~="topic/ol"] > *[class~="topic/li"][conkeyref]:not([conaction]) > *[class~="topic/li"] {
   /* Use list-item instead of block to avoid putting the 
    sentinels markers of the "ol" and the first "li"
    on the same line, in compact tag display.*/
    display:list-item;
    list-style:none;    
}


/*Make the steps and substeps more readable when using conrefs.*/

*[class~="task/substeps"] > *[class~="task/substep"][conref]:not([conaction]):before,
*[class~="task/substeps"] > *[class~="task/substep"][conkeyref]:not([conaction]):before{
	display:none;  
}

*[class~="task/substeps"] > *[class~="task/substep"][conref]:not([conaction]) > *,
*[class~="task/substeps"] > *[class~="task/substep"][conkeyref]:not([conaction]) > *{
	display:none;  
}

*[class~="task/steps"] > *[class~="task/step"][conref]:not([conaction]):before,
*[class~="task/steps"] > *[class~="task/step"][conkeyref]:not([conaction]):before {
	display:none;  
}

*[class~="task/steps"] > *[class~="task/step"][conref]:not([conaction]) > * ,
*[class~="task/steps"] > *[class~="task/step"][conkeyref]:not([conaction]) > * {
	display:none;  
}


/*EXM-31899 Allow arrows between UI controls referred with conref or conkeyref*/
*[class~="ui-d/menucascade"] > *[class~="ui-d/uicontrol"][conref] > *[class~="ui-d/uicontrol"]:before,
*[class~="ui-d/menucascade"] > *[class~="ui-d/uicontrol"][conkeyref] > *[class~="ui-d/uicontrol"]:before{
    content: "→";
}
*[class~="ui-d/menucascade"] > *[class~="ui-d/uicontrol"][conref]:first-child > *[class~="ui-d/uicontrol"]:before,
*[class~="ui-d/menucascade"] > *[class~="ui-d/uicontrol"][conkeyref]:first-child > *[class~="ui-d/uicontrol"]:before{
    content: "";
}


/*  SOME SPECIAL HANDLING FOR CONACTION mark, push before, after and replace */
*[conaction="pushbefore"],
*[conaction="pushafter"],
*[conaction="pushreplace"]{
    border:1pt dotted;
}

*[conaction="mark"]{
    border-left:1pt solid;
}

*[conaction="pushbefore"]:before{
    -oxy-append-content: oxy_label(text, " (Push Before)", styles,
      "font-size:smaller;color:gray;")"" !important;
}

*[conaction="pushafter"]:before{
    -oxy-append-content: oxy_label(text, " (Push After)", styles,
      "font-size:smaller;color:gray;")"" !important;
}

*[conaction="pushreplace"]:before{
    -oxy-append-content: oxy_label(text, " (", styles,
      "font-size:smaller;color:gray;")"" url("../../img/link.png") oxy_label(text, " Push Replace)", styles,
      "font-size:smaller;color:gray;")"" !important;
      link: attr(conref);
}

*[conaction="mark"]:before{
    -oxy-append-content: oxy_label(text, " (", styles,
      "font-size:smaller;color:gray;")"" url("../../img/link.png") oxy_label(text, " Mark)", styles,
      "font-size:smaller;color:gray;")"" !important;
      link: attr(conref);
}

*[conaction="pushreplace"][conkeyref]:before,
*[conaction="mark"][conkeyref]:before{
      link: oxy_concat("", attr(conkeyref, keyref));
}

*[conaction="pushreplace"][conref]:before,
*[conaction="mark"][conref]:before{
      link: attr(conref);
}

/*EXM-16989 Some conref cases end*/

/*EXM-30888 Avoid full tags on directly linked content*/
*:-oxy-has-valid-referenced-content > *:-oxy-referenced-content{
    -oxy-display-tags: none;
}




/* TODO - dan - asta e ceva generic. trebuie sa analizez atributele ref.*/

@media oxygen{
  /* Has no meaning in print*/

  /*Support for DITA 1.2 keyrefs*/
  *[keyref]:before,
  /*EXM-21733 Prefer keyref to href as the DITA 1.2 specs says.*/
  *[keyref][href]:before{
       /*Use concat to cast from URI to string*/
      link: oxy_concat("", attr(keyref, keyref));
      content:url("../../img/link.png") "[" attr(keyref) "]";
      /*See -colors.css */
      text-decoration:underline;
  }
  *[keyref]:empty {
      content: oxy_label(text, oxy_getSomeText(oxy_link-text(), 150, true), background-color, rgb(240, 240, 240));
  }
}
  
@media oxygen-high-contrast-black {
    *[keyref]:empty {
      content: oxy_label(text, oxy_getSomeText(oxy_link-text(), 150, true), background-color, rgb(128, 128, 128));
  }
}
