/*
 * ==================================================
 * ==================================================
 * 
 * Dita for Publishers Formatting Domain  
 * 
 * http://dita4publishers.sourceforge.net/
 * 
 * The formatting domain provides elements for producing 
 * specific formatting effects that are either arbitrary 
 * (not connected to any particular semantic or structural 
 * aspect of the content) or simply required to meet 
 * specific publication requirements. These elements should be 
 * used only when necessary but when they are necessary 
 * they are available.
 * 
 * ==================================================
 * ==================================================
 * 
 */


/* ====================================
 *
 * <art>
 * 
 * Represents an abstract piece of "art". Holds a 
 * reference to one or more graphic objects (<image>) 
 * (normally different formats of the same base image, 
 * such as a high-resolution TIF and low-resolution 
 * JPEG). It may have an "art title", which labels the 
 * art as a re-usable object (e.g., when displayed in 
 * a CMS system as a standalone object). It may also 
 * contain classifying metadata. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/p
 */
*[class ~= "d4p-formatting-d/art"]{
/**/
}

/* ====================================
 *
 * <b-i>
 * 
 * "Bold italic". Allows a single element to represent 
 * the combination of <b> and <i>, which is useful for 
 * conversion from flat word processing formats.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/p
 */
*[class ~= "d4p-formatting-d/b-i"]{
  font-style:italic;
  font-weight:bold;
}

/* ====================================
 *
 * <b-sc>
 * 
 * "Bold small caps". Allows a single element to 
 * represent the combination of <b> and <sc>, which is 
 * useful for conversion from flat word processing formats.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/p
 */
*[class ~= "d4p-formatting-d/b-sc"]{
  font-weight:bold;
}
*[class ~= "d4p-formatting-d/b-sc"]:after{
  content:"[small-caps]";
}

/* ====================================
 *
 * <br>
 * 
 * Represents a hard return (as for HTML <br> element). 
 * Can be used for example in titles to indicate a 
 * hard break point.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph
 */
*[class ~= "d4p-formatting-d/br"]{
  display:block;
}
*[class ~= "d4p-formatting-d/br"]:before{
  content:'';
}

/* ====================================
 *
 * <eqn_block>
 * 
 * Represents a block equation. Same content 
 * as for <eqn_inline>.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/p
 */
*[class ~= "d4p-formatting-d/eqn_block"]{
/**/
}

/* ====================================
 *
 * <eqn_inline>
 * 
 * Represents an inline equation. Can contain 
 * any combination of MathML markup, InDesign 
 * INX markup, or references to graphics (<art>).
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/p
 */
*[class ~= "d4p-formatting-d/eqn_inline"]{
/**/
}


/* ====================================
 *
 * <frac>
 * 
 * Represents a simple mathematical fraction. 
 * Enables the rendering of fractions without 
 * the use of full MathML markup.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/p
 */
*[class ~= "d4p-formatting-d/frac"]{
/**/
}


/* ====================================
 *
 * <inx_snippet>
 * 
 * Holds a snippet of InDesign CS3 interchange 
 * XML. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/foreign
 */
*[class ~= "d4p-formatting-d/inx_snippet"]{
/**/
}


/* ====================================
 *
 * <linethrough>
 * 
 * Line-through or "strikeout". Text with a 
 * line drawn through it as is used for 
 * strike-outs.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph
 */
*[class ~= "d4p-formatting-d/linethrough"]{
  text-decoration:line-through;
}

/* ====================================
 *
 * <roman>
 * 
 * "Roman" (not italic, bold, or small caps). 
 * Use to indicate text that is not highlighted, 
 * usually within the context of a paragraph-level 
 * element that is normally highlighted in some 
 * way, such as paragraphs that are normally rendered in italic.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph
 */
*[class ~= "d4p-formatting-d/roman"]{
  font-style:normal;
}

/* ====================================
 *
 * <sc>
 * 
 * "Small caps". Represents a phrase in small caps.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/p
 */
*[class ~= "d4p-formatting-d/sc"]:after{
  content:"[small-caps]";
}

/* ====================================
 *
 * <tab>
 * 
 * Represents a horizontal tab character.
 * Literal tabs cannot be reliably entered 
 * in XML data, so this element allows the 
 * capturing of tabbed content.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph
 */
*[class ~= "d4p-formatting-d/tab"]{
  content:'    ';
}


