/*
 * ==================================================
 * ==================================================
 * 
 * Troubleshooting elements
 * 
 * DITA1.3/langRef/containers/troubleshooting-elements.html
 * 
 * Elements for creating troubleshooting steps/topics
 * ==================================================
 * ==================================================
 * 
 */
 
 
/* ====================================
 *
 * <troubleshooting>
 * 
 * The <troubleshooting> element is the top-level element 
 * for a troubleshooting topic. Troubleshooting topics 
 * document corrective action such as troubleshooting or 
 * alarm clearing. Troubleshooting topics begin with a 
 * description of a condition that the reader might want 
 * to correct, followed by one or more cause-remedy pairs. 
 * Each cause-remedy pair is a potential solution to the 
 * trouble described in the condition. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/topic
 */
*[class~='troubleshooting/troubleshooting'] {
}
 
/* ====================================
 *
 * <troublebody>
 * 
 * The <troublebody> element is a container for the main 
 * content of the troubleshooting topic.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/body
 */
*[class~='troubleshooting/troublebody'] {  
}

/* ====================================
 *
 * <condition>
 * 
 * The <condition> element describes a state that 
 * the troubleshooting topic is intended to remedy. 
 * This information helps the user decide whether a 
 * troubleshooting topic might contain an applicable 
 * remedy for a problem. This section should add to or 
 * clarify information that is in the tile or short 
 * description of the troubleshooting topic. 
 * This information should be brief.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/section
 */
*[class~='troubleshooting/condition']{
   -oxy-foldable: false; 
}
*[class~='troubleshooting/condition']:before {
  content: "Condition ";
  /* -before_bold- >>> */
  font-weight: bold;
  /* <<< */
}

/* ====================================
 *
 * <troubleSolution>
 * 
 * The <troubleSolution> element is a container element 
 * for cause and remedy information. The cause might be 
 * omitted if it is implicit or if the remedy is not 
 * associated with a cause. The remedy might be omitted 
 * if there is no known remedy for the cause.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/section
 */
*[class~='troubleshooting/troubleSolution']{
  margin: 0.5em 0 1.5em 2em;
  /*See -colors.css */
  border-left: 2pt solid;  
  padding: 1em;       
}
*[class~='troubleshooting/troubleSolution'] > *{
  margin-left:1em;   
}
*[class~='troubleshooting/troubleSolution']:before {
  content: "Solution ";
  /* -before_bold- >>> */
  font-weight: bold;
  /* <<< */
}

/* ====================================
 *
 * <cause>
 * 
 * The <cause> element describes a potential source of 
 * the problem that is described in the <condition> element, 
 * the topic <title> element, or the <shortdesc> element. 
 * This information should be brief; if it is not possible 
 * to make the information brief, this might be a sign that 
 * a full troubleshooting topic is needed.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/section
 */
*[class~='troubleshooting/cause']{
   -oxy-foldable: false; 
}
*[class~='troubleshooting/cause']:before {
  content: "Cause ";
  /* -before_bold- >>> */
  font-weight: bold;
  /* <<< */
}

/* ====================================
 *
 * <remedy>
 * 
 * The <remedy> element contains steps that are a potential 
 * solution for the problem described in the <condition> element, 
 * the topic <title> element, or the <shortdesc> element.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/section
 */
*[class~='troubleshooting/remedy']{
   -oxy-foldable: false; 
}
*[class~='troubleshooting/remedy']:before {
  content: "Remedy ";
  /* -before_bold- >>> */
  font-weight: bold;
  /* <<< */
}

/* ====================================
 *
 * <responsibleParty>
 * 
 * Use the <responsibleParty> element to identify the party 
 * who is responsible for performing a remedy procedure.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/p
 */
*[class~='troubleshooting/responsibleParty']:before {
  content: "Responsible party: ";
  /* -before_bold- >>> */
  font-weight: bold;
  /* <<< */
}
