/*
 * ==================================================
 * ==================================================
 * 
 * langRef/containers/hazard-d.html
 * 
 * General purpose domains are not specific to any type 
 * of information, such as the hazard statement domain 
 * that provides elements for describing hazardous 
 * situations.
 * 
 * ==================================================
 * ==================================================
 */



/*
 * ==================================================
 * 
 * <topic>
 *
 * The hazardstatement element contains hazard warning 
 * information. It is based on the regulations of ANSI 
 * Z535 and ISO 3864. It enables the author to select 
 * the type of hazard, add information about the specific 
 * hazard and how to avoid it, and add one or more 
 * safety symbols.
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/note 
 */
*[class~="hazard-d/hazardstatement"] {
    border: 2pt solid;
    
    font-family:arial, helvetica, sans-serif;
    
    min-width:2in;
    padding:0;
    
    margin-top:1em;
    margin-bottom:1em;
    
    /* The hazard symbol is relative to this block. */
    position:relative;
}

@media print {
    /* Avoid breaking the page inside a hazard statement when printing. */
    *[class~="hazard-d/hazardstatement"] {
        page-break-inside: avoid;
    }
}

*[class~="hazard-d/hazardstatement"]:before{
    content: url("../img/warning-black30.png") " " "HAZARD";
    display:block;
    background-color:#f57222;
    border-bottom: 2pt solid;
    padding:0.2em;
    font-weight:bold;    
    font-size:1.8em;
}

/*
 * Try to put all caps on the known types. 
 */
*[class~="hazard-d/hazardstatement"][type]:before {
    content: url("../img/warning-black30.png") " " attr(type);
}
*[class~="hazard-d/hazardstatement"][type="note"]:before {
    content: url("../img/warning-black30.png") " " "NOTE";
}
*[class~="hazard-d/hazardstatement"][type="tip"]:before {
    content: url("../img/warning-black30.png") " " "TIP";
}
*[class~="hazard-d/hazardstatement"][type="fastpath"]:before {
    content: url("../img/warning-black30.png") " " "FASTPATH";
}
*[class~="hazard-d/hazardstatement"][type="restriction"]:before {
    content: url("../img/warning-black30.png") " " "RESTRICTION";
}
*[class~="hazard-d/hazardstatement"][type="remember"]:before {
    content: url("../img/warning-black30.png") " " "REMEMBER";
}
*[class~="hazard-d/hazardstatement"][type="attention"]:before {
    content: url("../img/warning-black30.png") " " "ATTENTION";
}
*[class~="hazard-d/hazardstatement"][type="caution"]:before {
    content: url("../img/warning-black30.png") " " "CAUTION";
}
*[class~="hazard-d/hazardstatement"][type="notice"]:before {
    content: url("../img/warning-black30.png") " " "NOTICE";
}
*[class~="hazard-d/hazardstatement"][type="danger"]:before {
    content: url("../img/warning-black30.png") " " "DANGER";
}
*[class~="hazard-d/hazardstatement"][type="warning"]:before {
    content: url("../img/warning-black30.png") " " "WARNING";
}
*[class~="hazard-d/hazardstatement"][type="other"]:before {
    content: url("../img/warning-black30.png") " " "OTHER TYPE OF HAZARD";
}


/*
 * ==================================================
 * 
 * <typeofhazard>
 *
 * The typeofhazard element contains a description of 
 * the type of hazard, for example, "Hot surfaces inside."
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/li  
 */
*[class~="hazard-d/typeofhazard"]{
     list-style-type:none !important;
     margin-left:0.2in !important;
     font-weight:bold;
     font-size:1.4em;
}


/*
 * ==================================================
 * 
 * <consequence>
 *
 * The consequence element specifies the consequence 
 * of failing to avoid a hazard, for example, 
 * "Contact may cause burn."
 * 
 * Inherits styles from parent class:
 *  
 *    + topic/li 
 */
*[class~="hazard-d/consequence"]{
     list-style-type:none !important;
     margin-left:0.2in !important;
     font-size:1.2em;
     font-weight:bold;
}


/*
 * ==================================================
 * 
 * <howtoavoid>
 *
 * The howtoavoid element contains information about 
 * how a user can avoid a hazard, for example, "Do not 
 * use solvents to clean the drum surface."
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/li  
 */
*[class~="hazard-d/howtoavoid"]{
     list-style-type:none !important;
     margin-left:0.2in !important;
     font-weight:bold;
}



/*
 * ==================================================
 * 
 * <hazardsymbol>
 *
 * The hazardsymbol element specifies a graphic. The 
 * graphic might represent a hazard, a hazardous 
 * situation, a result of not avoiding a hazard, or 
 * any combination of these messages.
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/image  
 */
*[class~="hazard-d/hazardsymbol"] {
    display:block !important;
    position:absolute;
    bottom:0.1in;
    left:0.1in;
    max-width:1in;
    max-height:1in;
}



/*
 * ==================================================
 * 
 * <messagepanel>
 *
 * The messagepanel element contains the textual information 
 * that is displayed on the hazard statement. This information 
 * identifies the hazard, specifies how to avoid the hazard, 
 * and states the probable consequences of failing to avoid 
 * the hazard.
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/ul  
 */
*[class~="hazard-d/messagepanel"] {
    border-left:2pt solid;
    margin-top:0;
    margin-bottom:0;
    padding-top:0.1in;
    padding-bottom:0.5in;
    
    margin-left:1.2in;
    min-height:1.5in;
}



