/*
 * ==================================================
 * ==================================================
 * 
 * xNAL domain elements
 * 
 * http://docs.oasis-open.org/dita/v1.2/os/spec/common/xnal-d.html#xnald
 * 
 * The xNAL domain elements represent a subset of the Extensible 
 * Name and Address Standard. It is used to encode information about 
 * the author or authors of DITA information. The domain can be 
 * included in any DITA document type shell that requires additional 
 * metadata for names and addresses, although the implementations 
 * provided by OASIS only include it in the bookmap document type.
 * 
 * ==================================================
 * ==================================================
 * 
 */
 
 
 
/* ====================================
 *
 * <authorinformation>
 * 
 * The <authorinformation> element contains detailed 
 * information about the author or authoring 
 * organization. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/author
 */
*[class~="xnal-d/authorinformation"]{
/**/
}
/* Make the direct children foldable. */
@media oxygen{
  *[class~="xnal-d/authorinformation"] > *:not(:empty) {
     -oxy-foldable:true;
  } 
}

/* ====================================
 *
 * <addressdetails>
 * 
 * The <addressdetails> element contains information 
 * about the address of the author or authoring group.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph
 */
*[class~="xnal-d/addressdetails"]:before{
  content:"Details ";
}
*[class~="xnal-d/addressdetails"] *{
  display:inline;
}


/* ====================================
 *
 * <thoroughfare>
 * 
 * The <thoroughfare> element contains information about 
 * the thoroughfare - for example, the street, avenue, or 
 * boulevard - on which an address is located.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph
 */
*[class~="xnal-d/thoroughfare"]{
/**/
}


/* ====================================
 *
 * <urls>
 * 
 * The <urls> element contains a list of Uniform Resource 
 * Locators (URLs). 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/urls"]{
/**/
}

/* ====================================
 *
 * <url>
 * 
 * The <url> element contains a Uniform Resource 
 * Locator (URL), such as a person's or company's internet address.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/url"]{
/**/
}


/* ====================================
 *
 * <administrativearea>
 * 
 * The <administrativearea> element contains information 
 * about a county, state, or province. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="xnal-d/administrativearea"]{
/**/
}


/* ====================================
 *
 * <contactnumber>
 * 
 * A <contactnumber> element contains the contact number 
 * of a person or organization, such as a telephone 
 * number, mobile phone number, or fax number.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/contactnumber"]{
/**/
}


/* ====================================
 *
 * <contactnumbers>
 * 
 * The <contactnumbers> element contains a list of 
 * telephone and fax numbers. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/contactnumbers"]{
/**/
}


/* ====================================
 *
 * <country>
 * 
 * The <country> element contains the name of 
 * a country. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="xnal-d/country"]{
/**/
}


/* ====================================
 *
 * <emailaddress>
 * 
 * The <emailaddress> element contains an 
 * e-mail address. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/emailaddress"]{
/**/
}


/* ====================================
 *
 * <emailaddresses>
 * 
 * The <emailaddresses> element contains a list 
 * of e-mail addresses. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/emailaddresses"]{
/**/
}


/* ====================================
 *
 * <firstname>
 * 
 * The <firstname> element contains the 
 * person's first name. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/firstname"]{
/**/
}


/* ====================================
 *
 * <firstname>
 * 
 * The <firstname> element contains the 
 * person's first name. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/firstname"]{
/**/
}


/* ====================================
 *
 * <middlename>
 * 
 * The <middlename> element contains the 
 * person's middle name or initial. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/middlename"]{
/**/
}


/* ====================================
 *
 * <lastname>
 * 
 * The <lastname> element contains the 
 * person's last name.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/lastname"]{
/**/
}


/* ====================================
 *
 * <generationidentifier>
 * 
 * The <generationidentifier> element contains
 * information about the person's generation, such 
 * as: Jr, III, or VIII.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/generationidentifier"]{
/**/
}


/* ====================================
 *
 * <honorific>
 * 
 * The <honorific> element contains the 
 * person's title, such as: Dr., Mr., 
 * Ms., or HRH.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/honorific"]{
/**/
}


/* ====================================
 *
 * <locality>
 * 
 * The <locality> element contains information about 
 * the city and postal or ZIP code. It can contain the 
 * information directly, or by acting as a wrapper 
 * for <localityname> and <postalcode>. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="xnal-d/locality"]{
/**/
}


/* ====================================
 *
 * <localityname>
 * 
 * The <localityname> element contains the name 
 * of the locality or city.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="xnal-d/localityname"]{
/**/
}


/* ====================================
 *
 * <namedetails>
 * 
 * The <namedetails> element contains 
 * information about the name of the 
 * author or the authoring organization. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/namedetails"]{
/**/
}



/* ====================================
 *
 * <organizationinfo>
 * 
 * The <organizationinfo> element contains 
 * detailed information about an authoring 
 * organization. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/organizationinfo"]{
/**/
}



/* ====================================
 *
 * <organizationname>
 * 
 * The <organizationname> element contains 
 * name information about the authoring 
 * organization. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="xnal-d/organizationname"]{
  display:inline;
}


/* ====================================
 *
 * <organizationnamedetails>
 * 
 * The <organizationnamedetails> element 
 * contains information about the name 
 * of an authoring organization.  
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="xnal-d/organizationnamedetails"]{
  display:inline;
}


/* ====================================
 *
 * <otherinfo>
 * 
 * The <otherinfo> element contains other 
 * name information about the author or 
 * authoring organization. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/otherinfo"]{
/**/
}


/* ====================================
 *
 * <personinfo>
 * 
 * The <personinfo> element is a wrapper 
 * containing all relevant data about 
 * a person, including name, address, 
 * and contact information.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/personinfo"]{
/**/
}


/* ====================================
 *
 * <personname>
 * 
 * The <personname> element contains 
 * name information about the author.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/data 
 */
*[class~="xnal-d/personname"]{
/**/
}


/* ====================================
 *
 * <postalcode>
 * 
 * The <postalcode> element contains 
 * information about the postal code 
 * or the ZIP code.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="xnal-d/postalcode"]{
/**/
}
