/*
 * ==================================================
 * ==================================================
 * 
 * langRef/containers/hi-d.html
 * 
 * The highlighting elements are used to highlight text 
 * with styles (such as bold, italic, and monospace). 
 * Never use these elements when a semantically specific 
 * element is available.
 * 
 * ==================================================
 * ==================================================
 */
/* ==================================================
 * 
 * <b>
 *
 * The b element is used to apply bold highlighting 
 * to the content of the element. 
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="hi-d/b"] {
  font-weight: bold;
}
/* ==================================================
 * 
 * <i>
 *
 * The i element is used to apply italic highlighting 
 * to the content of the element. 
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="hi-d/i"] {
  font-style: italic;
}
/* ==================================================
 * 
 * <tt>
 *
 * The tt (teletype) element is used to apply monospaced 
 * highlighting to the content of the element.
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="hi-d/tt"] {
  /* -monospace- >>> */
  font-family: monospace;
  font-size: 0.9em;
  /* <<< */
}
/* ==================================================
 * 
 * <u>
 *
 * The u element is used to apply underline highlighting 
 * to the content of the element. 
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="hi-d/u"] {
  text-decoration: underline;
}
/* ==================================================
 * 
 * <sup>
 *
 * The sup element indicates that text should appear 
 * with superscript highlighting, or vertically raised in 
 * relationship to the surrounding text.
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="hi-d/sup"] {
  vertical-align: super;
  font-size: smaller;
}
/* ==================================================
 * 
 * <sub>
 *
 * The sub element indicates that text should appear 
 * with subscript highlighting, or placed lower in 
 * relationship to the surrounding text.
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="hi-d/sub"] {
  vertical-align: sub;
  font-size: smaller;
}
/* ==================================================
 * 
 * <line-through>
 *
 * The line-through element indicates text that should 
 * be rendered with a line struck through the content. 
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="hi-d/line-through"] {
  text-decoration: line-through;
}
/* ==================================================
 * 
 * <overline>
 *
 * The overline element indicates content that should 
 * be rendered with a line above it. 
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/ph 
 */
*[class~="hi-d/overline"] {
  text-decoration: overline;
}
