/*
 * ==================================================
 * ==================================================
 * 
 * Common learning interactions elements
 * 
 * http://docs.oasis-open.org/dita/v1.2/os/spec/common/learning_training_elements_interactions_other.html
 * 
 * Elements in this group are designed specifically 
 * to describe learning and training interactions.
 * 
 * ==================================================
 * ==================================================
 */

/* ====================================
 *
 * <lcAnswerContent>
 * 
 * The <lcAnswerContent> element in a learning 
 * assessment interaction provides the content 
 * for an answer option, which the learner 
 * can select as correct or incorrect.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/p learningInteractionBase-d/p 
 */
*[class~="learning-d/lcAnswerContent"] {
  display: inline;
}
/* ====================================
 *
 * <lcAnswerOption>
 * 
 * The <lcAnswerOption> element in an assessment 
 * interaction provides the content and 
 * feedback for a question option, and 
 * can indicate the correct option. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/li learningInteractionBase-d/li 
 */
*[class~="learning-d/lcAnswerOptionGroup"] > *[class~="learning-d/lcAnswerOption"] {
  list-style-type: square;
}
/* ====================================
 *
 * <lcAnswerOptionGroup>
 * 
 * The <lcAnswerOptionGroup> element provides 
 * a container for the options for a true-false, 
 * single-select, or multiple-select 
 * assessment interaction.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/ul learningInteractionBase-d/ul
 */
*[class~="learning-d/lcAnswerOptionGroup"] {
  margin-left: 2em;
}
/* ====================================
 *
 * <lcHotspotMap>
 * 
 * A lcHotspotMap interaction lets you designate 
 * an action area or region over an image, allowing 
 * a click in that region to get scored as correct 
 * or incorrect in response to an interaction 
 * question.
 *  
 * Inherits styles from parent class:
 *  
 *    + topic/figgroup learningInteractionBase-d/figgroup
 */
*[class~="learning-d/lcHotspotMap"] {
  display: table;
}
*[class~="learning-d/lcHotspotMap"] > *[class~="topic/image"] {
  display: table-caption;
}
/* ====================================
 *
 * <lcArea>
 * 
 * A lcArea defines an area of a hotspot image 
 * that contains a correct or incorrect choice 
 * in a hotspot assessment interaction.
 *  
 * Inherits styles from parent class:
 *  
 *    + topic/figgroup learningInteractionBase-d/figgroup
 */
*[class~="learning-d/lcArea"] {
  display: table-row;
}
*[class~="learning-d/lcArea"] > * {
  display: table-cell;
}
/* ====================================
 *
 * <lcAreaShape>
 * 
 * The <lcAreaShape> element defines the 
 * shape of a linkable hotspot in a learning image.
 *  
 * Inherits styles from parent class:
 *  
 *    + topic/keyword learningInteractionBase-d/keyword
 */
*[class~="learning-d/lcAreaShape"]:before {
  content: "Area: " oxy_combobox(edit, "#text", columns, 6, values, "rect, circle, poly, default, ");
}
*[class~="learning-d/lcAreaShape"] {
  padding-right: 0.5em;
  visibility: -oxy-collapse-text;
  -oxy-display-tags: none;
}
/* ====================================
 *
 * <lcAreaCoords>
 * 
 * The <lcAreaCoords> element specifies the 
 * coordinates of a linkable hotspot in a learning image.
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/ph learningInteractionBase-d/ph
 */
*[class~="learning-d/lcAreaCoords"] {
  padding-right: 0.5em;
}
/* ====================================
 *
 * <lcAsset>
 * 
 * The <lcAsset> element in an assessment 
 * interaction provides the images or other 
 * graphic assets to support the interaction.
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/p learningInteractionBase-d/p
 */
*[class~="learning-d/lcAsset"] {
  /**/
}
/* ====================================
 *
 * <lcCorrectResponse>
 * 
 * The <lcCorrectResponse> element in an 
 * assessment interaction indicates a correct response.
 * 
 * In an lcHotspot interaction, indicate the 
 * correct hotspot by setting the value attribute 
 * of lcCorrectResponse to the id of the "correct" 
 * area in the imagemap.
 *  
 *   + topic/data learningInteractionBase-d/data
 */
*[class~="learning-d/lcCorrectResponse"][name]:before {
  content: oxy_substring(oxy_local-name(), 2);
}
*[class~="learning-d/lcCorrectResponse"][name]:not([value = 'lcCorrectResponse']):before {
  content: oxy_substring(oxy_local-name(), 2) " " oxy_textfield(edit, "@value", columns, 10) " ";
}
/* ====================================
 *
 * <lcFeedback>
 * 
 * The <lcFeedback> element in an assessment 
 * interaction provides information to the 
 * learner about a correct or incorrect response. 
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/p learningInteractionBase-d/p
 */
*[class~="learning-d/lcFeedback"] {
  /**/
}
/* ====================================
 *
 * <lcFeedbackIncorrect>
 * 
 * The <lcFeedbackIncorrect> element in an 
 * assessment interaction provides feedback 
 * about incorrect response. 
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/p learningInteractionBase-d/p
 */
*[class~="learning-d/lcFeedbackIncorrect"] {
  /**/
}
*[class~="learning-d/lcFeedbackIncorrect"]:before {
  content: "When incorrect: ";
  /* -learning_before- >>> */
  font-weight: bold;
  font-style: normal;
  /* <<< */
}
/* ====================================
 *
 * <lcFeedbackCorrect>
 * 
 * The <lcFeedbackCorrect> element in an 
 * assessment interaction provides feedback 
 * to the learner about a correct response. 
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/p learningInteractionBase-d/p
 */
*[class~="learning-d/lcFeedbackCorrect"]:before {
  content: "When correct: ";
  /* -learning_before- >>> */
  font-weight: bold;
  font-style: normal;
  /* <<< */
}
/* ====================================
 *
 * <lcItem>
 * 
 * The <lcItem> element in an assessment interaction 
 * provides the content for an item that matches the 
 * match item in a match table. 
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/stentry learningInteractionBase-d/stentry
 */
*[class~="learning-d/lcItem"] {
  /**/
}
/* ====================================
 *
 * <lcMatchingItem>
 * 
 * The <lcMatchingItem> element in an assessment 
 * interaction provides the content for the matching 
 * side of a matching pair of items in a match 
 * table interaction. 
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/stentry learningInteractionBase-d/stentry
 */
*[class~="learning-d/lcMatchingItem"] {
  /**/
}
/* ====================================
 *
 * <lcMatchingHeader>
 * 
 * The <lcMatchingHeader> element in an assessment 
 * interaction provides column headings for items 
 * to present in a matching table. 
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/stentry learningInteractionBase-d/stentry
 */
*[class~="learning-d/lcMatchingHeader"] {
  /**/
}
/* ====================================
 *
 * <lcMatchingItemFeedback>
 * 
 * The <lcMatchingItemFeedback> element in an assessment 
 * interaction provides feedback on the match as a whole 
 * or on correct and incorrect matches or both.
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/stentry learningInteractionBase-d/stentry
 */
*[class~="learning-d/lcMatchingItemFeedback"] {
  /**/
}
/* ====================================
 *
 * <lcMatchingPair>
 * 
 * The <lcMatchingPair> element in an assessment interaction 
 * provides a table row with the pair of items that comprise 
 * a correct match in a matching interaction and, optionally, 
 * feedback on the pair or correct and incorrect matches.
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/stentry learningInteractionBase-d/stentry
 */
*[class~="learning-d/lcMatchingPair"] {
  /**/
}
/* ====================================
 *
 * <lcMatchTable>
 * 
 * The <lcMatchTable> element in an assessment interaction 
 * provides a format for matching items. 
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/simpletable learningInteractionBase-d/simpletable
 */
*[class~="learning-d/lcMatchTable"] {
  /**/
}
/* ====================================
 *
 * <lcOpenAnswer>
 * 
 * Use <lcOpenAnswer> to provide a suggested 
 * answer for an >lcOpenQuestion< interaction.
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/simpletable learningInteractionBase-d/simpletable
 */
*[class~="learning-d/lcOpenAnswer"]:before {
  content: "A: ";
  /* -learning_before- >>> */
  font-weight: bold;
  font-style: normal;
  /* <<< */
}
/* ====================================
 *
 * <lcQuestion>
 * 
 * Use the <lcQuestion> element in an 
 * interaction to ask the question.
 *  
 * Inherits styles from parent class:
 *  
 *   + topic/simpletable learningInteractionBase-d/simpletable
 */
*[class~="learning-d/lcQuestion"]:before {
  content: "Q: ";
  /* -learning_before- >>> */
  font-weight: bold;
  font-style: normal;
  /* <<< */
}
/* ====================================
 *
 * <lcSequence>
 * 
 * The <lcSequence> element in an assessment interaction 
 * provides the position of a sequence option in a sequence. 
 *  
 * Inherits styles from parent class:
 *  
 *  + topic/data learningInteractionBase-d/data
 */
*[class~="learning-d/lcSequence"] {
  text-align: right;
  padding-right: 5em;
  border-bottom: 1px dashed;
}
*[class~="learning-d/lcSequence"][name]:before {
  content: oxy_substring(oxy_local-name(), 2) " " oxy_textfield(edit, "@value", columns, 10) " ";
}
/* ====================================
 *
 * <lcSequenceOption>
 * 
 * The <lcSequence> element in an assessment interaction 
 * provides the position of a sequence option in a sequence. 
 *  
 * Inherits styles from parent class:
 *  
 *  + topic/li learningInteractionBase-d/li
 */
*[class~="learning-d/lcSequenceOption"] {
  /**/
}
/* ====================================
 *
 * <lcSequenceOptionGroup>
 * 
 * The <lcSequenceOptionGroup> element provides 
 * the options for an assessment sequence 
 * interaction.
 *  
 * Inherits styles from parent class:
 *  
 *  + topic/li learningInteractionBase-d/li
 */
*[class~="learning-d/lcSequenceOptionGroup"] {
  /**/
}
