/*
 * Creates the ilusion of a page.
 */
@namespace oxy "http://www.oxygenxml.com/extensions/author";


@media oxygen AND (min-width:25cm) AND (platform:standalone),
    oxygen AND (min-width:25cm) AND (platform:eclipse) {

    /* A gray background */
    oxy|document {
      background-color:#fbfbfb;
    }
    
    /* The white page.*/
    :root{      
      /* White page */
      border: 1px solid #c6c6c6;
      background-color:white;
      
      /* Centered*/
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.25in;
      margin-bottom: 0.25in;
      
      /* Letter */
      width: 21.59cm; 
      min-height:10cm; /*27.94cm; would be the letter, but a smaller size avoids large caret jumps*/
      
    }
    
    /* Padding inside the page. */
    :root {
          padding-top:2em;
          padding-right:1em;
          padding-left:2em;
          padding-bottom:5em;
    }

    /*
     * When showing the map with expanded topics, put a smaller value for 
     * the min-height, otherwise we get huge white space.
     */
    *[class ~= "map/map"] *[class ~= "topic/topic"],
    /* The same for maps referred from other maps */
    *[class ~= "map/map"] *[class ~= "map/map"], 
    /* The same for the nested topics */
    *[class ~= "topic/topic"] *[class ~= "topic/topic"]{
      min-height:0;  
    }
    
}




