/*
 * ==================================================
 * ==================================================
 * 
 * Reference elements.
 * 
 * http://docs.oasis-open.org/dita/v1.2/os/spec/common/reference2.html#reference2
 * 
 * Reference topics describe factual material about a subject, 
 * such as the commands in a programming language. This format 
 * is also suitable for bibliographies, catalogues, the list of 
 * ingredients for recipes, and similar collections of structured 
 * descriptive prose. 
 * 
 * ==================================================
 * ==================================================
 * 
 */

/* ====================================
 *
 * <reference>
 * 
 * The <reference> element defines a top-level container for a 
 * reference topic. Reference topics document programming 
 * constructs or facts about a product. Examples of reference 
 * topics include (but are not limited to) product specifications, 
 * environmental specifications, equipment lists, parts lists, 
 * required tools, language elements, class descriptions, 
 * commands, functions, and API information. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/topic
 */
*[class~="reference/reference"] {
  /**/
}
/* ====================================
 *
 * <refbody>
 * 
 * The <refbody> element is a container for the main content of 
 * the reference topic. Reference topics limit the body structure 
 * to tables (both simple and standard), property lists, syntax 
 * sections, and generic sections and examples, in any sequence 
 * or number. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/body
 */
*[class~="reference/refbody"] {
  /**/
}
/* ====================================
 *
 * <refbodydiv>
 * 
 * The <refbodydiv> element is similar to the <bodydiv> element 
 * in that it provides an informal container for content that 
 * may be grouped within a reference. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/bodydiv
 */
*[class~="reference/refbodydiv"] {
  /**/
}
/* ====================================
 *
 * <refsyn>
 * 
 * The <refbodydiv> element is similar to the <bodydiv> element 
 * in that it provides an informal container for content that 
 * may be grouped within a reference. 
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/section 
 */
*[class~="reference/refsyn"] {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
*[class~="reference/refsyn"]:before {
  /* -reference_before- >>> */
  font-weight: bold;
  font-style: normal;
  /* <<< */
  display: block;
  content: "Syntax: ";
}
/* ====================================
 *
 * <properties>
 * 
 * The <properties> element gives a list of properties for 
 * the subject of the current topic, for example whether a 
 * class is public or protected. Each property can include 
 * the type, value, and a description.  
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/simpletable
 */
*[class~="reference/properties"] {
  /*See -colors.css */
  border:1pt solid;
  margin-left: 1em;
}
/* ====================================
 *
 * <prophead>
 * 
 * The prophead element supports headings for the 
 * properties element.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/sthead 
 */
*[class~="reference/prophead"] {
  /*See -colors.css */
}
/* ====================================
 *
 * <proptypehd>
 * 
 * The proptypehd element supports headings for the 
 * type column of a properties table.
 *  
 * Inherits styles from parent class:
 *  
 *     + topic/stentry 
 */
*[class~="reference/proptypehd"] {
  /**/
}
/* ====================================
 *
 * <propvaluehd>
 * 
 * The propvaluehd element supports headings for the 
 * value column of a properties table.
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/stentry 
 */
*[class~="reference/propvaluehd"] {
  /**/
}
/* ====================================
 *
 * <propdeschd>
 * 
 * The propdeschd element supports headings for the 
 * description column of a properties table.
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/stentry 
 */
*[class~="reference/propdeschd"] {
  /**/
}
/* ====================================
 *
 * <property>
 * 
 * The <property> element represents a single property 
 * of the current topic's subject.
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/strow
 */
*[class~="reference/property"] {
}
/* ====================================
 *
 * <proptype>
 * 
 * The <proptype> element describes the type of the property.
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/stentry 
 */
*[class~="reference/proptype"] {
  /**/
}
/* ====================================
 *
 * <propvalue>
 * 
 * The <propvalue> element indicates one or more values for the 
 * current property type. Values may be placed separate <property> 
 * elements if they need separate descriptions. The <proptype> 
 * attribute need not be repeated.
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/stentry 
 */
*[class~="reference/propvalue"] {
  /**/
}
/* ====================================
 *
 * <propdesc>
 * 
 * The <propdesc> element is used to provide a short description 
 * of the property type and its listed values.
 * 
 * Inherits styles from parent class:
 *  
 *     + topic/stentry 
 */
*[class~="reference/propdesc"] {
  /**/
}
