/*
 * ==================================================
 * ==================================================
 * 
 * Select-atts attribute group
 * 
 * http://docs.oasis-open.org/dita/v1.2/os/spec/common/select-atts.html
 * 
 * The "select-atts" attribute group includes common metadata attributes, 
 * several of which support conditional processing (filtering and flagging) or 
 * the creation of new attribute domain specializations.
 * 
 * ==================================================
 * ==================================================
 * 
 */

/* ====================================
 *
 * @importance 
 * 
 * A range of values that describe an importance or priority attributed 
 * to an element. For example, in steps of a task, the attribute indicates whether 
 * a step is optional or required. This attribute is not used for DITAVAL-based 
 * filtering or flagging; applications may (but need not) use the importance 
 * value to highlight elements.
 *  
 */

@media oxygen{

*[importance]:before{
    font-weight:bold;   
}

*[importance='obsolete']:before{
        -oxy-append-content: "Obsolete: " !important;
}
*[importance='deprecated']:before{
        -oxy-append-content: "Deprecated: " !important;
}
*[importance='optional']:before{
        -oxy-append-content: "Optional: " !important;
}
*[importance='low']:before{
        -oxy-append-content: "Low importance: " !important;
}
*[importance='default']:before{
        -oxy-append-content: "Default importance: " !important;
}
*[importance='normal']:before{
        -oxy-append-content: "Normal importance: " !important;
}
*[importance='high']:before{
        -oxy-append-content: "Important: " !important;
}
*[importance='recommended']:before{
        -oxy-append-content: "Recommended: " !important;
}
*[importance='required']:before{
        -oxy-append-content: "Required: " !important;
}
*[importance='urgent']:before{
        -oxy-append-content: "Urgent: " !important;
}


}