/*
==============================================
 		   HTML and Docbook CALS tables 
   [the master copy is in the DITA framework]
==============================================
*/

/*
    The caption of the table.
*/
*[class~="topic/table"] > caption,
*[class~="topic/table"] > info > *[class~="topic/title"],
*[class~="topic/table"] > *[class~="topic/title"]{ 
    display: table-caption;
    font-weight:bold;
    text-align: left;
    margin-top: 0.5em;
}

@media print {
  /* 
    Put a number before the table title.
    The counter is reset in p-page-titles-and-numbers.css
  */
*[class~="topic/table"] > caption,
*[class~="topic/table"] > info > *[class~="topic/title"],
*[class~="topic/table"] > *[class~="topic/title"]{ 
    counter-increment: tablecount;
}
*[class~="topic/table"] > caption:before,
*[class~="topic/table"] > info > *[class~="topic/title"]:before,
*[class~="topic/table"] > *[class~="topic/title"]:before{ 
    content: "Table " counter(tablecount) ": ";
  }
}


/* 
    A Table in a document 
*/
*[class~="topic/table"],
informaltable{
  display: table;
  margin: 1.5ex 0.5ex;
  /*overriden in cals_table.css*/
  /*See -colors.css */
  border-color: #EEEEEE;
  border-style:solid;
  border-width:1px;
}

/*
  Frame attribute - Specifies how the table is to be framed.
*/
 
/*
     Reset the border.
*/
*[class~="topic/table"][border],
informaltable[border]{
    border-width:attr(border,length);
    border-style:solid;
}

/*
    Define each border.
    Even if HTML indicates that the framing should not be done if
    there is no border, Docbook is not explicit.
    
    Should be: *[class~="topic/table"][border][frame]
*/
*[class~="topic/table"][frame],
informaltable[frame]{
    border-style:none;
}

*[class~="topic/table"][frame='above'],
*[class~="topic/table"][frame='top'],
informaltable[frame='above'],
informaltable[frame='top']{
  border-top-style:solid;
}

*[class~="topic/table"][frame='below'],
*[class~="topic/table"][frame='bottom'],
informaltable[frame='below'],
informaltable[frame='bottom']{
  border-bottom-style:solid;
}

*[class~="topic/table"][frame='rhs'],
informaltable[frame='rhs']{
  border-right-style:solid;
}

*[class~="topic/table"][frame='lhs'],
informaltable[frame='lhs']{
  border-left-style:solid;
}

*[class~="topic/table"][frame='vsides'],
*[class~="topic/table"][frame='sides'],
informaltable[frame='vsides'],
informaltable[frame='sides']{
  border-left-style:solid;
  border-right-style:solid;
}

*[class~="topic/table"][frame='hsides'],
*[class~="topic/table"][frame='topbot'],
informal[frame='hsides'],
informal[frame='topbot']{
  border-bottom-style:solid;
  border-top-style:solid;
}

*[class~="topic/table"][frame='box'],
*[class~="topic/table"][frame='border'],
*[class~="topic/table"][frame='all'],
informaltable[frame='box'],
informaltable[frame='border'],
informaltable[frame='all']{
  border-style:solid;
}

/* Alignment. */

*[align='left']{
   text-align:left;
}
*[align='right']{
   text-align:right;
}
*[align='center']{
   text-align:center;
}


*[class~="topic/table"][align='center'],
*[class~="topic/table"][align='right'],
informaltable[align='center'],
informaltable[align='right']{
	margin-left:auto;
	text-align:inherit;
}

*[class~="topic/table"][align='center'],
*[class~="topic/table"][align='left'],
informaltable[align='center'],
informaltable[align='left']{
	margin-right:auto;
	text-align:inherit;
}


/*EXM-9928 The @align on a colspec is actually for the entire column determined by it,
it's silly to align the colspec element*/
*[class~="topic/colspec"][align], *[class~="topic/col"][align]{
   text-align:left;
}
/*
  A wrapper for the main content of a table, or part of a table
 */
*[class~="topic/tgroup"] {
  display: table-row-group;
}

*[class~="topic/tbody"] {
/* overriden in cals_table.css */
    display:table-row-group;
}

/* 
    A table header consisting of one or more rows 
*/
*[class~="topic/thead"] {
  display: table-header-group;  
}

th, *[class~="topic/thead"] {
  /*See -colors.css */
  background-color: #DDEEFF;
  font-weight:bold;
}

/* 
    A table footer consisting of one or more rows 
*/
*[class~="topic/tfoot"] {
  display: table-footer-group;
  font-style:oblique;
}



/*
    Table row.
*/
*[class~="topic/row"],
tr{
    display:table-row;
}

/*
    Table cell.
*/
*[class~="topic/entry"],
td{
    display:table-cell;   
    /*See -colors.css */
    border-color: #EEEEEE;
    border-style:solid;
    border-width:1px;
    padding-top:1px;
    padding-bottom:1px;
    padding-left:5px;
    padding-right:5px;
}

th {
  display:table-cell;     
  border-style:solid;
  border-width:1px;
  padding-top:1px;
  padding-bottom:1px;
  padding-left:5px;
  padding-right:5px;
}

/* 
    entrytbl - A subtable appearing in place of an Entry in a table 
*/
entrytbl {
  display: table;
}



*[class~="topic/table"][bgcolor],
informaltable[bgcolor],
tr[bgcolor],
td[bgcolor]{
    background-color:attr(bgcolor);
    color:inherit;
}


/*
    The columns are separated.
*/
*[class~="topic/table"][border][rules=cols] > tr > td,
*[class~="topic/table"][border][rules=cols] > tr > th,
*[class~="topic/table"][border][rules=cols] > *[class~="topic/tbody"] > tr > td,
*[class~="topic/table"][border][rules=cols] > *[class~="topic/tbody"] > tr > th,
*[class~="topic/table"][border][rules=cols] > *[class~="topic/thead"] > tr > td,
*[class~="topic/table"][border][rules=cols] > *[class~="topic/thead"] > tr > th,
*[class~="topic/table"][border][rules=cols] > *[class~="topic/tfoot"] > tr > td,
*[class~="topic/table"][border][rules=cols] > *[class~="topic/tfoot"] > tr > th{
    border-left:1px solid;
    border-right:1px solid;
}

/*
    The columns are separated.
*/
*[class~="topic/table"][border][rules=rows] > tr > td,
*[class~="topic/table"][border][rules=rows] > tr > th,
*[class~="topic/table"][border][rules=rows] > *[class~="topic/tbody"] > tr > td,
*[class~="topic/table"][border][rules=rows] > *[class~="topic/tbody"] > tr > th,
*[class~="topic/table"][border][rules=rows] > *[class~="topic/thead"] > tr > td,
*[class~="topic/table"][border][rules=rows] > *[class~="topic/thead"] > tr > th,
*[class~="topic/table"][border][rules=rows] > *[class~="topic/tfoot"] > tr > td,
*[class~="topic/table"][border][rules=rows] > *[class~="topic/tfoot"] > tr > th{
    border-top:1px solid;
    border-bottom:1px solid;
}

/*
    All the columns and rows are separated.
*/
*[class~="topic/table"][border][rules=all] > tr > td,
*[class~="topic/table"][border][rules=all] > tr > th,
*[class~="topic/table"][border][rules=all] > *[class~="topic/tbody"] > tr > td,
*[class~="topic/table"][border][rules=all] > *[class~="topic/tbody"] > tr > th,
*[class~="topic/table"][border][rules=all] > *[class~="topic/thead"] > tr > td,
*[class~="topic/table"][border][rules=all] > *[class~="topic/thead"] > tr > th,
*[class~="topic/table"][border][rules=all] > *[class~="topic/tfoot"] > tr > td,
*[class~="topic/table"][border][rules=all] > *[class~="topic/tfoot"] > tr > th{
    border:1pt solid;
}

/*
    None of the columns and rows are separated.
*/
*[class~="topic/table"][border][rules=none] > tr > td,
*[class~="topic/table"][border][rules=none] > tr > th,
*[class~="topic/table"][border][rules=none] > *[class~="topic/tbody"] > tr > td,
*[class~="topic/table"][border][rules=none] > *[class~="topic/tbody"] > tr > th,
*[class~="topic/table"][border][rules=none] > *[class~="topic/thead"] > tr > td,
*[class~="topic/table"][border][rules=none] > *[class~="topic/thead"] > tr > th,
*[class~="topic/table"][border][rules=none] > *[class~="topic/tfoot"] > tr > td,
*[class~="topic/table"][border][rules=none] > *[class~="topic/tfoot"] > tr > th{
    border:1pt solid #EEEEEE;
}

/*
========================
    The align with the priority is set to the td, then 
    it follows the one from the row and then the one 
    from the row group.
========================
*/

/*
    HTML tables.
*/


/*
-------
    Bottom
-------
*/

/*Least specific*/
*[class~="topic/tbody"][valign=bottom] > tr > td,
/*TH*/
*[class~="topic/tbody"][valign=bottom] > tr > th,
/* THEAD*/
*[class~="topic/thead"][valign=bottom] > tr > td,
/*TH*/
*[class~="topic/thead"][valign=bottom] > tr > th,
/*TFOOT*/
*[class~="topic/tfoot"][valign=bottom] > tr > td,
/*TH*/
*[class~="topic/tfoot"][valign=bottom] > tr > th{
    vertical-align:bottom;
}


/*More specific*/
*[class~="topic/tbody"][valign] > tr[valign=bottom] > td,
*[class~="topic/tbody"]         > tr[valign=bottom] > td,
/*TH*/
*[class~="topic/tbody"][valign] > tr[valign=bottom] > th,
*[class~="topic/tbody"]         > tr[valign=bottom] > th,
/* THEAD */
*[class~="topic/thead"][valign] > tr[valign=bottom] > td,
*[class~="topic/thead"]         > tr[valign=bottom] > td,
/*TH*/
*[class~="topic/thead"][valign] > tr[valign=bottom] > th,
*[class~="topic/thead"]         > tr[valign=bottom] > th,
/*TFOOT*/
*[class~="topic/tfoot"][valign] > tr[valign=bottom] > td,
*[class~="topic/tfoot"]         > tr[valign=bottom] > td,
/*TH*/
*[class~="topic/tfoot"][valign] > tr[valign=bottom] > th,
*[class~="topic/tfoot"]         > tr[valign=bottom] > th{
    vertical-align:bottom;
}

/*Even more specific*/
*[class~="topic/tbody"][valign] > tr[valign] > td[valign=bottom],
*[class~="topic/tbody"]         > tr[valign] > td[valign=bottom],
*[class~="topic/tbody"][valign] > tr         > td[valign=bottom],
*[class~="topic/tbody"]         > tr         > td[valign=bottom],
/*TH*/
*[class~="topic/tbody"][valign] > tr[valign] > th[valign=bottom],
*[class~="topic/tbody"]         > tr[valign] > th[valign=bottom],
*[class~="topic/tbody"][valign] > tr         > th[valign=bottom],
*[class~="topic/tbody"]         > tr         > th[valign=bottom],
/* THEAD */
*[class~="topic/thead"][valign] > tr[valign] > td[valign=bottom],
*[class~="topic/thead"]         > tr[valign] > td[valign=bottom],
*[class~="topic/thead"][valign] > tr         > td[valign=bottom],
*[class~="topic/thead"]         > tr         > td[valign=bottom],
/*TH*/
*[class~="topic/thead"][valign] > tr[valign] > th[valign=bottom],
*[class~="topic/thead"]         > tr[valign] > th[valign=bottom],
*[class~="topic/thead"][valign] > tr         > th[valign=bottom],
*[class~="topic/thead"]         > tr         > th[valign=bottom],
/*TFOOT*/
*[class~="topic/tfoot"][valign] > tr[valign] > td[valign=bottom],
*[class~="topic/tfoot"]         > tr[valign] > td[valign=bottom],
*[class~="topic/tfoot"][valign] > tr         > td[valign=bottom],
*[class~="topic/tfoot"]         > tr         > td[valign=bottom],
/*TH*/
*[class~="topic/tfoot"][valign] > tr[valign] > th[valign=bottom],
*[class~="topic/tfoot"]         > tr[valign] > th[valign=bottom],
*[class~="topic/tfoot"][valign] > tr         > th[valign=bottom],
*[class~="topic/tfoot"]         > tr         > th[valign=bottom]{
    vertical-align:bottom;
}


/*
-------
    Top
-------
*/

/*Least specific*/
*[class~="topic/tbody"][valign=top] > tr > td,
/*TH*/
*[class~="topic/tbody"][valign=top] > tr > th,
/* THEAD */
*[class~="topic/thead"][valign=top] > tr > td,
/*TH*/
*[class~="topic/thead"][valign=top] > tr > th,
/*TFOOT*/
*[class~="topic/tfoot"][valign=top] > tr > td,
/*TH*/
*[class~="topic/tfoot"][valign=top] > tr > th{
    vertical-align:top;
}


/*More specific*/
*[class~="topic/tbody"][valign] > tr[valign=top] > td,
*[class~="topic/tbody"]         > tr[valign=top] > td,
/*TH*/
*[class~="topic/tbody"][valign] > tr[valign=top] > th,
*[class~="topic/tbody"]         > tr[valign=top] > th,
/*THEAD*/
*[class~="topic/thead"][valign] > tr[valign=top] > td,
*[class~="topic/thead"]         > tr[valign=top] > td,
/*TH*/
*[class~="topic/thead"][valign] > tr[valign=top] > th,
*[class~="topic/thead"]         > tr[valign=top] > th,
/*TFOOT*/
*[class~="topic/tfoot"][valign] > tr[valign=top] > td,
*[class~="topic/tfoot"]         > tr[valign=top] > td,
/*TH*/
*[class~="topic/tfoot"][valign] > tr[valign=top] > th,
*[class~="topic/tfoot"]         > tr[valign=top] > th{
    vertical-align:top;
}

/*Even more specific*/
*[class~="topic/tbody"][valign] > tr[valign] > td[valign=top],
*[class~="topic/tbody"]         > tr[valign] > td[valign=top],
*[class~="topic/tbody"][valign] > tr         > td[valign=top],
*[class~="topic/tbody"]         > tr         > td[valign=top],
/*TH*/
*[class~="topic/tbody"][valign] > tr[valign] > th[valign=top],
*[class~="topic/tbody"]         > tr[valign] > th[valign=top],
*[class~="topic/tbody"][valign] > tr         > th[valign=top],
*[class~="topic/tbody"]         > tr         > th[valign=top],
/*THEAD*/
*[class~="topic/thead"][valign] > tr[valign] > td[valign=top],
*[class~="topic/thead"]         > tr[valign] > td[valign=top],
*[class~="topic/thead"][valign] > tr         > td[valign=top],
*[class~="topic/thead"]         > tr         > td[valign=top],
/*TH*/
*[class~="topic/thead"][valign] > tr[valign] > th[valign=top],
*[class~="topic/thead"]         > tr[valign] > th[valign=top],
*[class~="topic/thead"][valign] > tr         > th[valign=top],
*[class~="topic/thead"]         > tr         > th[valign=top],
/*TFOOT*/
*[class~="topic/tfoot"][valign] > tr[valign] > td[valign=top],
*[class~="topic/tfoot"]         > tr[valign] > td[valign=top],
*[class~="topic/tfoot"][valign] > tr         > td[valign=top],
*[class~="topic/tfoot"]         > tr         > td[valign=top],
/*TH*/
*[class~="topic/tfoot"][valign] > tr[valign] > th[valign=top],
*[class~="topic/tfoot"]         > tr[valign] > th[valign=top],
*[class~="topic/tfoot"][valign] > tr         > th[valign=top],
*[class~="topic/tfoot"]         > tr         > th[valign=top]{
    vertical-align:top;
}


/*
-------
    Middle
-------
*/

/*Least specific*/
*[class~="topic/tbody"][valign=middle] > tr > td,
/*TH*/
*[class~="topic/tbody"][valign=middle] > tr > th,
/*THEAD*/
*[class~="topic/thead"][valign=middle] > tr > td,
/*TH*/
*[class~="topic/thead"][valign=middle] > tr > th,
/*TFOOT*/
*[class~="topic/tfoot"][valign=middle] > tr > td,
/*TH*/
*[class~="topic/tfoot"][valign=middle] > tr > th{
    vertical-align:middle;
}


/*More specific*/
*[class~="topic/tbody"][valign] > tr[valign=middle] > td,
*[class~="topic/tbody"]         > tr[valign=middle] > td,
/*TH*/
*[class~="topic/tbody"][valign] > tr[valign=middle] > th,
*[class~="topic/tbody"]         > tr[valign=middle] > th,
/*THEAD*/
*[class~="topic/thead"][valign] > tr[valign=middle] > td,
*[class~="topic/thead"]         > tr[valign=middle] > td,
/*TH*/
*[class~="topic/thead"][valign] > tr[valign=middle] > th,
*[class~="topic/thead"]         > tr[valign=middle] > th,
/*TFOOT*/
*[class~="topic/tfoot"][valign] > tr[valign=middle] > td,
*[class~="topic/tfoot"]         > tr[valign=middle] > td,
/*TH*/
*[class~="topic/tfoot"][valign] > tr[valign=middle] > th,
*[class~="topic/tfoot"]         > tr[valign=middle] > th{
    vertical-align:middle;
}

/*Even more specific*/
*[class~="topic/tbody"][valign] > tr[valign] > td[valign=middle],
*[class~="topic/tbody"]         > tr[valign] > td[valign=middle],
*[class~="topic/tbody"][valign] > tr         > td[valign=middle],
*[class~="topic/tbody"]         > tr         > td[valign=middle],
/*TH*/
*[class~="topic/tbody"][valign] > tr[valign] > th[valign=middle],
*[class~="topic/tbody"]         > tr[valign] > th[valign=middle],
*[class~="topic/tbody"][valign] > tr         > th[valign=middle],
*[class~="topic/tbody"]         > tr         > th[valign=middle],
/*THEAD*/
*[class~="topic/thead"][valign] > tr[valign] > td[valign=middle],
*[class~="topic/thead"]         > tr[valign] > td[valign=middle],
*[class~="topic/thead"][valign] > tr         > td[valign=middle],
*[class~="topic/thead"]         > tr         > td[valign=middle],
/*TH*/
*[class~="topic/thead"][valign] > tr[valign] > th[valign=middle],
*[class~="topic/thead"]         > tr[valign] > th[valign=middle],
*[class~="topic/thead"][valign] > tr         > th[valign=middle],
*[class~="topic/thead"]         > tr         > th[valign=middle],
/*TFOOT*/
*[class~="topic/tfoot"][valign] > tr[valign] > td[valign=middle],
*[class~="topic/tfoot"]         > tr[valign] > td[valign=middle],
*[class~="topic/tfoot"][valign] > tr         > td[valign=middle],
*[class~="topic/tfoot"]         > tr         > td[valign=middle],
/*TH*/
*[class~="topic/tfoot"][valign] > tr[valign] > th[valign=middle],
*[class~="topic/tfoot"]         > tr[valign] > th[valign=middle],
*[class~="topic/tfoot"][valign] > tr         > th[valign=middle],
*[class~="topic/tfoot"]         > tr         > th[valign=middle]{
    vertical-align:middle;
}

/*
-------
    Baseline
-------
*/

/*Least specific*/
*[class~="topic/tbody"][valign=baseline] > tr > td,
/*TH*/
*[class~="topic/tbody"][valign=baseline] > tr > th,
/*THEAD*/
*[class~="topic/thead"][valign=baseline] > tr > td,
/*TH*/
*[class~="topic/thead"][valign=baseline] > tr > th,
/*TFOOT*/
*[class~="topic/tfoot"][valign=baseline] > tr > td,
/*TH*/
*[class~="topic/tfoot"][valign=baseline] > tr > th{
    vertical-align:baseline;
}


/*More specific*/
*[class~="topic/tbody"][valign] > tr[valign=baseline] > td,
*[class~="topic/tbody"]         > tr[valign=baseline] > td,
/*TH*/
*[class~="topic/tbody"][valign] > tr[valign=baseline] > th,
*[class~="topic/tbody"]         > tr[valign=baseline] > th,
/*THEAD*/
*[class~="topic/thead"][valign] > tr[valign=baseline] > td,
*[class~="topic/thead"]         > tr[valign=baseline] > td,
/*TH*/
*[class~="topic/thead"][valign] > tr[valign=baseline] > th,
*[class~="topic/thead"]         > tr[valign=baseline] > th,
/*TFOOT*/
*[class~="topic/tfoot"][valign] > tr[valign=baseline] > td,
*[class~="topic/tfoot"]         > tr[valign=baseline] > td,
/*TH*/
*[class~="topic/tfoot"][valign] > tr[valign=baseline] > th,
*[class~="topic/tfoot"]         > tr[valign=baseline] > th{
    vertical-align:baseline;
}

/*Even more specific*/
*[class~="topic/tbody"][valign] > tr[valign] > td[valign=baseline],
*[class~="topic/tbody"]         > tr[valign] > td[valign=baseline],
*[class~="topic/tbody"][valign] > tr         > td[valign=baseline],
*[class~="topic/tbody"]         > tr         > td[valign=baseline],
/*TH*/
*[class~="topic/tbody"][valign] > tr[valign] > th[valign=baseline],
*[class~="topic/tbody"]         > tr[valign] > th[valign=baseline],
*[class~="topic/tbody"][valign] > tr         > th[valign=baseline],
*[class~="topic/tbody"]         > tr         > th[valign=baseline],
/*THEAD*/
*[class~="topic/thead"][valign] > tr[valign] > td[valign=baseline],
*[class~="topic/thead"]         > tr[valign] > td[valign=baseline],
*[class~="topic/thead"][valign] > tr         > td[valign=baseline], 
*[class~="topic/thead"]         > tr         > td[valign=baseline],
/*TH*/
*[class~="topic/thead"][valign] > tr[valign] > th[valign=baseline],
*[class~="topic/thead"]         > tr[valign] > th[valign=baseline],
*[class~="topic/thead"][valign] > tr         > th[valign=baseline],
*[class~="topic/thead"]         > tr         > th[valign=baseline],
/*TFOOT*/
*[class~="topic/tfoot"][valign] > tr[valign] > td[valign=baseline],
*[class~="topic/tfoot"]         > tr[valign] > td[valign=baseline],
*[class~="topic/tfoot"][valign] > tr         > td[valign=baseline], 
*[class~="topic/tfoot"]         > tr         > td[valign=baseline],
/*TH*/
*[class~="topic/tfoot"][valign] > tr[valign] > th[valign=baseline],
*[class~="topic/tfoot"]         > tr[valign] > th[valign=baseline],
*[class~="topic/tfoot"][valign] > tr         > th[valign=baseline],
*[class~="topic/tfoot"]         > tr         > th[valign=baseline]{
    vertical-align:baseline;
}


/*
    Docbook CALLS tables.
*/


/*
-------
    Bottom
-------
*/

/*Least specific*/
*[class~="topic/tbody"][valign=bottom] > *[class~="topic/row"] > *[class~="topic/entry"],
*[class~="topic/thead"][valign=bottom] > *[class~="topic/row"] > *[class~="topic/entry"],
*[class~="topic/tfoot"][valign=bottom] > *[class~="topic/row"] > *[class~="topic/entry"]{
    vertical-align:bottom;
}


/*More specific*/
*[class~="topic/tbody"][valign] > *[class~="topic/row"][valign=bottom] > *[class~="topic/entry"],
*[class~="topic/thead"][valign] > *[class~="topic/row"][valign=bottom] > *[class~="topic/entry"],
*[class~="topic/tfoot"][valign] > *[class~="topic/row"][valign=bottom] > *[class~="topic/entry"],
*[class~="topic/tbody"]         > *[class~="topic/row"][valign=bottom] > *[class~="topic/entry"],
*[class~="topic/thead"]         > *[class~="topic/row"][valign=bottom] > *[class~="topic/entry"],
*[class~="topic/tfoot"]         > *[class~="topic/row"][valign=bottom] > *[class~="topic/entry"]{
    vertical-align:bottom;
}

/*Even more specific*/
*[class~="topic/tbody"][valign] > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=bottom],
*[class~="topic/thead"][valign] > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=bottom],
*[class~="topic/tfoot"][valign] > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=bottom],
*[class~="topic/tbody"]         > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=bottom],
*[class~="topic/thead"]         > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=bottom],
*[class~="topic/tfoot"]         > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=bottom],
*[class~="topic/tbody"][valign] > *[class~="topic/row"]         > *[class~="topic/entry"][valign=bottom],
*[class~="topic/thead"][valign] > *[class~="topic/row"]         > *[class~="topic/entry"][valign=bottom],
*[class~="topic/tfoot"][valign] > *[class~="topic/row"]         > *[class~="topic/entry"][valign=bottom],
*[class~="topic/tbody"]         > *[class~="topic/row"]         > *[class~="topic/entry"][valign=bottom],
*[class~="topic/thead"]         > *[class~="topic/row"]         > *[class~="topic/entry"][valign=bottom],
*[class~="topic/tfoot"]         > *[class~="topic/row"]         > *[class~="topic/entry"][valign=bottom]{
    vertical-align:bottom;
}


/*
-------
    Top
-------
*/

/*Least specific*/
*[class~="topic/tbody"][valign=top] > *[class~="topic/row"] > *[class~="topic/entry"],
*[class~="topic/thead"][valign=top] > *[class~="topic/row"] > *[class~="topic/entry"],
*[class~="topic/tfoot"][valign=top] > *[class~="topic/row"] > *[class~="topic/entry"]{
    vertical-align:top;
}


/*More specific*/
*[class~="topic/tbody"][valign] > *[class~="topic/row"][valign=top] > *[class~="topic/entry"],
*[class~="topic/thead"][valign] > *[class~="topic/row"][valign=top] > *[class~="topic/entry"],
*[class~="topic/tfoot"][valign] > *[class~="topic/row"][valign=top] > *[class~="topic/entry"],
*[class~="topic/tbody"]         > *[class~="topic/row"][valign=top] > *[class~="topic/entry"],
*[class~="topic/thead"]         > *[class~="topic/row"][valign=top] > *[class~="topic/entry"],
*[class~="topic/tfoot"]         > *[class~="topic/row"][valign=top] > *[class~="topic/entry"]{
    vertical-align:top;
}

/*Even more specific*/
*[class~="topic/tbody"][valign] > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=top],
*[class~="topic/thead"][valign] > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=top],
*[class~="topic/tfoot"][valign] > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=top],
*[class~="topic/tbody"]         > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=top],
*[class~="topic/thead"]         > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=top],
*[class~="topic/tfoot"]         > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=top],
*[class~="topic/tbody"][valign] > *[class~="topic/row"]         > *[class~="topic/entry"][valign=top],
*[class~="topic/thead"][valign] > *[class~="topic/row"]         > *[class~="topic/entry"][valign=top],
*[class~="topic/tfoot"][valign] > *[class~="topic/row"]         > *[class~="topic/entry"][valign=top],
*[class~="topic/tbody"]         > *[class~="topic/row"]         > *[class~="topic/entry"][valign=top],
*[class~="topic/thead"]         > *[class~="topic/row"]         > *[class~="topic/entry"][valign=top],
*[class~="topic/tfoot"]         > *[class~="topic/row"]         > *[class~="topic/entry"][valign=top]{
    vertical-align:top;
}


/*
-------
    Middle
-------
*/

/*Least specific*/
*[class~="topic/tbody"][valign=middle] > *[class~="topic/row"] > *[class~="topic/entry"],
*[class~="topic/thead"][valign=middle] > *[class~="topic/row"] > *[class~="topic/entry"],
*[class~="topic/tfoot"][valign=middle] > *[class~="topic/row"] > *[class~="topic/entry"]{
    vertical-align:middle;
}


/*More specific*/
*[class~="topic/tbody"][valign] > *[class~="topic/row"][valign=middle] > *[class~="topic/entry"],
*[class~="topic/thead"][valign] > *[class~="topic/row"][valign=middle] > *[class~="topic/entry"],
*[class~="topic/tfoot"][valign] > *[class~="topic/row"][valign=middle] > *[class~="topic/entry"],
*[class~="topic/tbody"]         > *[class~="topic/row"][valign=middle] > *[class~="topic/entry"],
*[class~="topic/thead"]         > *[class~="topic/row"][valign=middle] > *[class~="topic/entry"],
*[class~="topic/tfoot"]         > *[class~="topic/row"][valign=middle] > *[class~="topic/entry"]{
    vertical-align:middle;
}

/*Even more specific*/
*[class~="topic/tbody"][valign] > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=middle],
*[class~="topic/thead"][valign] > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=middle],
*[class~="topic/tfoot"][valign] > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=middle],
*[class~="topic/tbody"]         > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=middle],
*[class~="topic/thead"]         > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=middle],
*[class~="topic/tfoot"]         > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=middle],
*[class~="topic/tbody"][valign] > *[class~="topic/row"]         > *[class~="topic/entry"][valign=middle],
*[class~="topic/thead"][valign] > *[class~="topic/row"]         > *[class~="topic/entry"][valign=middle],
*[class~="topic/tfoot"][valign] > *[class~="topic/row"]         > *[class~="topic/entry"][valign=middle],
*[class~="topic/tbody"]         > *[class~="topic/row"]         > *[class~="topic/entry"][valign=middle],
*[class~="topic/thead"]         > *[class~="topic/row"]         > *[class~="topic/entry"][valign=middle],
*[class~="topic/tfoot"]         > *[class~="topic/row"]         > *[class~="topic/entry"][valign=middle]{
    vertical-align:middle;
}

/*
-------
    Baseline
-------
*/

/*Least specific*/
*[class~="topic/tbody"][valign=baseline] > *[class~="topic/row"] > *[class~="topic/entry"],
*[class~="topic/thead"][valign=baseline] > *[class~="topic/row"] > *[class~="topic/entry"],
*[class~="topic/tfoot"][valign=baseline] > *[class~="topic/row"] > *[class~="topic/entry"]{
    vertical-align:baseline;
}


/*More specific*/
*[class~="topic/tbody"][valign] > *[class~="topic/row"][valign=baseline] > *[class~="topic/entry"],
*[class~="topic/thead"][valign] > *[class~="topic/row"][valign=baseline] > *[class~="topic/entry"],
*[class~="topic/tfoot"][valign] > *[class~="topic/row"][valign=baseline] > *[class~="topic/entry"],
*[class~="topic/tbody"]         > *[class~="topic/row"][valign=baseline] > *[class~="topic/entry"],
*[class~="topic/thead"]         > *[class~="topic/row"][valign=baseline] > *[class~="topic/entry"],
*[class~="topic/tfoot"]         > *[class~="topic/row"][valign=baseline] > *[class~="topic/entry"]{
    vertical-align:baseline;
}

/*Even more specific*/
*[class~="topic/tbody"][valign] > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=baseline],
*[class~="topic/thead"][valign] > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=baseline],
*[class~="topic/tfoot"][valign] > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=baseline],
*[class~="topic/tbody"]         > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=baseline],
*[class~="topic/thead"]         > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=baseline],
*[class~="topic/tfoot"]         > *[class~="topic/row"][valign] > *[class~="topic/entry"][valign=baseline],
*[class~="topic/tbody"][valign] > *[class~="topic/row"]         > *[class~="topic/entry"][valign=baseline],
*[class~="topic/thead"][valign] > *[class~="topic/row"]         > *[class~="topic/entry"][valign=baseline],
*[class~="topic/tfoot"][valign] > *[class~="topic/row"]         > *[class~="topic/entry"][valign=baseline],
*[class~="topic/tbody"]         > *[class~="topic/row"]         > *[class~="topic/entry"][valign=baseline],
*[class~="topic/thead"]         > *[class~="topic/row"]         > *[class~="topic/entry"][valign=baseline],
*[class~="topic/tfoot"]         > *[class~="topic/row"]         > *[class~="topic/entry"][valign=baseline]{
    vertical-align:baseline;
}




*[class~="topic/colspec"], col, spanspec{
    text-align:left;
    background-color:inherit;
    font-family:sansserif, verdana, helvetica;
	  font-size:0.75em;
}

*[class~="topic/colspec"]:after{
    content:
    		"  name " oxy_textfield(edit, "@colname", columns, 7) 
    		"  number " oxy_textfield(edit, "@colnum", columns, 7)
    		"  width " oxy_textfield(edit, "@colwidth", columns, 7)
    		"  align " oxy_combobox(edit, "@align", editable, false, columns, 10)
    		"  "    		
    		oxy_checkbox(edit, "@colsep", values, "1", uncheckedValues, "0", labels, "colsep", fontInherit, true) 
    		oxy_checkbox(edit, "@rowsep", values, "1", uncheckedValues, "0", labels, "rowsep", fontInherit, true);
	white-space: pre;
	padding-bottom: 5px;
}

col:after{
    content:
    		"  title " oxy_textfield(edit, "@title", columns, 7)   
    		"  span " oxy_textfield(edit, "@span", columns, 7) 
    		"  width " oxy_textfield(edit, "@width", columns, 7)
    		"  align " oxy_combobox(edit, "@align", editable, false, columns, 10);
    white-space: pre;
    padding-bottom: 5px;
}

spanspec:before{
    content:"before";
}
spanspec:after{
    content:
    		"name " oxy_textfield(edit, "@spanname", columns, 7) 
    		" start column " oxy_textfield(edit, "@namest", columns, 7) 
    		" end column " oxy_textfield(edit, "@nameend", columns, 7);    
	white-space: pre;
}
