/* ===================================================
 * 
 * <indexterm>
 *  
 * The content of an indexterm element is used to produce an index 
 * entry in the generated index. You can nest indexterm elements to create 
 * multi-level indexes. The content is not output as part of the topic 
 * content, only as part of the index.
 */
*[class~="topic/indexterm"] {
  display: inline;
  font-style: italic;
  /* -monospace- >>> */
  font-family: monospace;
  font-size: 0.9em;
  /* <<< */
  /*EXM-27204 Always show place holder content for indexterms*/
  -oxy-show-placeholder: always;
}
*[class~="topic/indexterm"]:before {
  content: "(";
  width: auto;
}
*[class~="topic/indexterm"][start]:before {
  -oxy-append-content: "start " oxy_textfield(edit, "@start", columns, 10);
}
*[class~="topic/indexterm"][end] {
  -oxy-show-placeholder: default;
}
*[class~="topic/indexterm"][end]:before {
  -oxy-append-content: " end " oxy_textfield(edit, "@end", columns, 10);
}
*[class~="topic/indexterm"][start]:before,
*[class~="topic/indexterm"][end]:before,
*[class~="topic/indexterm"][start]:after,
*[class~="topic/indexterm"][end]:after {
  /**/
}
*[class~="topic/indexterm"][keyref]:before {
  -oxy-append-content: attr(keyref);
}
*[class~="topic/indexterm"]:after {
  content: ")";
}
/* ==================================================
 * 
 * <indextermref>
 * 
 * Not completely defined.
 */
*[class~="topic/indextermref"] {
  /*See -colors.css */
}
/* ===================================================
 * 
 * <index-see>
 *  
 * An index-see element within an indexterm element 
 * redirects the reader to another index entry that 
 * the reader should reference instead of the current one.
 */
*[class~="topic/indexterm"] > *[class~="indexing-d/index-see"]:before {
  /* -before_bold- >>> */
  font-weight: bold;
  /* <<< */
  content: " - see: ";
}
/* ===================================================
 *
 * <index-see-also>  
 * 
 * An index-see-also element within an indexterm redirects 
 * the reader to another index entry that the reader should 
 * reference in addition to the current one.
 */
*[class~="topic/indexterm"] > *[class~="indexing-d/index-see-also"]:before {
  /* -before_bold- >>> */
  font-weight: bold;
  /* <<< */
  content: " - see also: ";
}
*[class~="topic/indexterm"] > *[class~="indexing-d/index-see-also"]:after,
*[class~="topic/indexterm"] > *[class~="indexing-d/index-see"]:after {
  content: " ";
}
/* ===================================================
 *
 * <index-sort-as>  
 * 
 * The index-sort-as element specifies a sort phrase under 
 * which an index entry would be sorted. 
 */
*[class~="indexing-d/index-sort-as"]:before {
  /* -before_bold- >>> */
  font-weight: bold;
  /* <<< */
  content: " - sort as: ";
}
