/*
 * ==================================================
 * ==================================================
 * 
 * Body topic elements.
 * 
 * langRef/containers/body-elements.html
 * 
 * The body elements support the most common types of 
 * content authoring for topics: paragraphs, lists, phrases, 
 * figures, and other common types of exhibits in a document.
 * 
 * ==================================================
 * ==================================================
 */
/*
 * ==================================================
 * 
 * <alt>
 * 
 * The alt element provides alternate text for an image.
 */
*[class~="topic/alt"] {
  display: block;
}
*[class~="topic/alt"]:before {
  content: "[";
}
*[class~="topic/alt"]:after {
  content: "]";
}
@media print {
  *[class~="topic/alt"]:before,
  *[class~="topic/alt"]:after {
    display: none;
  }
}
/*
 * ==================================================
 * 
 * <cite>
 * 
 * The cite element is used when you need a bibliographic citation that refers to a book or article. It specifically
 * identifies the title of the resource.
 */
*[class~="topic/cite"] {
  display: inline;
  font-style: italic;
}
/*
 * ==================================================
 * <dl>
 * 
 * A dl element is a list of terms and corresponding definitions. 
 * 
 * <dt>
 * 
 * The term (dt) is usually flush left. 
 * 
 * <dd>
 * 
 * The description or definition (dd) is usually either indented and 
 * on the next line, or on the same line to the right of the term.
 */
*[class~="topic/dl"] {
  display: block;
  margin: 0.5em 0;
}
*[class~="topic/dlhead"] {
  display: block;
  font-weight: bold;
}
*[class~="topic/dlentry"] {
  display: block;
}
*[class~="topic/dt"],
*[class~="topic/dthd"] {
  font-weight: bold;
  display: block;
}
*[class~="topic/dd"],
*[class~="topic/ddhd"] {
  display: block;
  margin-left: 4em;
}
/*
 * ==================================================
 * <desc>
 * 
 * The desc element contains the description of the current 
 * element. In elements that also allow a title, such as table and 
 * fig, this is used to provide more information than is appropriate 
 * for the title. 
 * 
 *
 * Only descs from xref and link are
 * left inline.
 */
*[class~="topic/desc"] {
  display: inline;
}
*[class~="topic/fig"] > *[class~="topic/desc"],
*[class~="topic/object"] > *[class~="topic/desc"],
*[class~="topic/table"] > *[class~="topic/desc"],
*[class~="topic/linklist"] > *[class~="topic/desc"] {
  display: block;
}
/*
 * ==================================================
 * <draft-comment>
 *  
 * The draft-comment element is designed to facilitate 
 * review and discussion of topic contents within the 
 * marked-up content.
 * 
 * By default, processors should strip them out to prevent 
 * publishing internal comments by mistake.
 */
*[class~="topic/draft-comment"] {
  /*See -colors.css */
  display: block;
  padding: 0.5em;
  margin: 0.5em 0;
  border-left: thick solid;
  border-right: thick solid;
}
*[class~="topic/draft-comment"][author]:before {
  /* -before_bold- >>> */
  font-weight: bold;
  /* <<< */
  content: "Comment by " attr(author) ": ";
}
*[class~="topic/draft-comment"]:before {
  /* -before_bold- >>> */
  font-weight: bold;
  /* <<< */
  content: "Comment: ";
}
/* ==================================================
 * 
 * <div>
 * 
 * The div element is used to organize subsets of content 
 * into logical groups that are not intended to be or 
 * should not be contained as a topic. 
 */
*[class~="topic/div"] {
  display: block;
}
/* ==================================================
 * 
 * <example>
 * 
 * The example element is a section that contains examples 
 * that illustrate or support the current topic.
 */
*[class~="topic/example"] {
  /*See -colors.css*/
  display: block;
  margin:1em 1em 1em 1em;
  padding:0.5em;
  border: 1pt solid;
}
@media oxygen {
  *[class~="topic/example"] {
    -oxy-foldable: true;
    -oxy-not-foldable-child: title;
  }
}
*[class~="topic/example"] > *[class~="topic/title"]:before {
  content: "Example: ";
}
/* ==================================================
 * 
 * <fig>
 * 
 * The fig element is a figure (sometimes called an 
 * "exhibit") with an optional title for a wide variety 
 * of content. 
 */
*[class~="topic/fig"] {
  display: block;
  margin: 1em 0;
}
/*
 * The figure titles are italic.
 */
*[class~="topic/fig"] > *[class~="topic/title"] {
  font-style: italic;
  font-size: 1em;
}
@media print {
  /* 
    Put a number before the figure title.
    The counter is reset in p-page-titles-and-numbers.css
  */
  *[class~="topic/fig"] {
    counter-increment: figcount;
  }
  *[class~="topic/fig"] > *[class~="topic/title"]:before {
    content: "Figure " counter(figcount) ": ";
  }
}
/* ==================================================
 * 
 * <figgroup>
 * 
 * The figgroup element is used primarily for specialization, 
 * in order to create segments within a figure. 
 */
*[class~="topic/figgroup"] {
  display: block;
  margin: 0.5em 0;
}
/* ==================================================
 * 
 * <fn>
 * 
 * The fn element is a foonote used to annotate text 
 * with notes that are inappropriate for inline inclusion.
 * 
 * @see "print/prince/p-foot-notes.css"
 */
@media screen {
  *[class~="topic/fn"] {
    font-style: italic;
  }
  *[class~="topic/fn"]:before {
    /* -before_bold- >>> */
    font-weight: bold;
    /* <<< */
    font-style: normal;
    content: " fn: ";
  }
  *[class~="topic/fn"][callout]:before {
    font-weight: bold;
    content: " fn(" attr(callout) "): ";
  }
  *[class~="topic/fn"]:after {
    content: "";
  }
}
/* ==================================================
 * 
 * <image>
 * 
 * Use the image element to include artwork or images in a DITA topic.
 */
*[class~="topic/image"] {
  content: attr(href, url);
}
@media oxygen AND (platform:webapp) {
	/* We need the image to be block in the webapp in order to impose the parent width and height on it.*/	
    *[class~="topic/image"] {
      display:inline-block;    
    }    
}

*[class~="topic/image"][placement="inline"] {
  display: inline;
}
*[class~="topic/image"][placement="break"] {
  display: block;
}
/*EXM-32453 The standalone Oxygen can interpret width and height.*/
@media oxygen and (platform:webapp){
	*[class~="topic/image"][width] {
	  width: attr(width, length);
	}
	*[class~="topic/image"][height] {
	  height: attr(height, length);
	}
}
/*EXM-21459 Ignore such href values*/
*[class~="topic/image"][href="-dita-use-conref-target"] {
  content: "";
}
/*EXM-25542 Overwrite scale of font sizes set in dita.css*/
*[class~="topic/image"][scale] {
  font-size: inherit;
}
/*Remove the link*/
*[class~="topic/image"][keyref]:before,
*[class~="topic/image"][keyref][href]:before {
  content: "";
}
/*Avoid being overwritten from the conrefs.css, double the keyref condition*/
*[class~="topic/image"][keyref][keyref],
*[class~="topic/image"][keyref][keyref][href] {
  content: attr(keyref, keyref);
}
/* ==================================================
 * 
 * <keyword>
 * 
 * The keyword element identifies a keyword or token, 
 * such as a single value from an enumerated list, 
 * the name of a command or parameter, product name, 
 * or a lookup key for a message.
 */
*[class~="topic/keyword"] {
  display: inline;
}
/* ==================================================
 * 
 * <lines>
 * 
 * The lines element may be used to represent dialogs or 
 * text fragments where line breaks are significant. The 
 * lines element is similar to pre in that line breaks are 
 * preserved, but the font style is not set to monospace, 
 * and extra spaces inside the lines are not preserved. 
 */
*[class~="topic/lines"] {
  display: block;
  white-space: pre-wrap;
}
@media print {
  *[class~="topic/lines"] {
    /* Avoid loosing content through bleeding */
    white-space: pre-wrap;
  }
}
/* ==================================================
 * 
 * <longdescref>
 * 
 * The longdescref element supports a reference to a text 
 * description of the graphic or object.
 * 
 * <longquoteref>
 * 
 * The longquoteref element provides a reference to the 
 * source of a long quote.
 * 
 * Depending on the presentation format, it may be appropriate 
 * to ignore the element, present it as a link, use it to turn 
 * the entire quote into a link, or do something else.
 */
*[class~="topic/longdescref"],
*[class~="topic/longquoteref"] {
  display: block;
}
*[class~="topic/longdescref"][href]:before,
*[class~="topic/longquoteref"][href]:before {
  content: "[" attr(href) "]";
  /*See -colors.css */
  link: attr(href);
  text-decoration: underline;
  font-style: italic;
}

@media print{
  *[class~="topic/longdescref"][href]:before,
  *[class~="topic/longquoteref"][href]:before {
    text-decoration: none;
  }
}
/* ==================================================
 *
 * <lq>
 * 
 * The lq is used to provide extended content quoted 
 * from another source.
 * Although rendering is left up to implementations, 
 * processors generally render lq as an indented block.
 */
*[class~="topic/lq"]:before {
  content: open-quote;
}
*[class~="topic/lq"]:after {
  content: close-quote;
}
*[class~="topic/lq"] {
  display: block;
  margin: 1.5em 3em;
}
/*
 * =========================================================
 * 
 * <note>
 * 
 * A note element contains information which expands on or 
 * calls attention to a particular point. This information is 
 * typically differentiated from the main text.
 * 
 */
*[class~="topic/note"] {
  display: block;
  margin: 0em 1em;
  padding: 0.5em;
}
*[class~="topic/note"]:before {
  /* TODO - dan - ar merge ca imaginea sa fie aliniata mai jos, acum sta pe baseline. Poate am putea specifica X si Y?*/
  content: url('../../img/note.png') " Note: ";
  font-weight: bold;
}
*[class~="topic/note"][type="attention"]:before {
  content: url('../../img/important.png') " Attention: ";
}
*[class~="topic/note"][type="caution"]:before {
  content: url('../../img/caution.png') " Caution: ";
}
*[class~="topic/note"][type="danger"]:before {
  content: url('../../img/danger.png') " Danger: ";
}
*[class~="topic/note"][type="fastpath"]:before {
  content: "Fastpath: ";
}
*[class~="topic/note"][type="important"]:before {
  content: url('../../img/important.png') " Important: ";
}
*[class~="topic/note"][type="other"]:before {
  content: "Other: ";
}
*[class~="topic/note"][type="remember"]:before {
  content: url('../../img/remember.png') " Remember: ";
}
*[class~="topic/note"][type="restriction"]:before {
  content: url('../../img/restriction.png') " Restriction: ";
}
*[class~="topic/note"][type="tip"]:before {
  content: url('../../img/tip.png') " Tip: ";
}
*[class~="topic/note"][type="notice"]:before {
  content: url('../../img/important.png') " Notice: ";
}
*[class~="topic/note"][type="warning"]:before {
  content: url('../../img/warning.png') " Warning: ";
}
*[class~="topic/note"][type="other"][othertype]:before {
  content: attr(othertype) ": ";
}
*[class~="topic/note"][type="trouble"]:before {
  content: url('../../img/troubleshooting.png') " Troubleshooting: ";  
}
/*
 * =========================================================
 * 
 * <object>
 * 
 * The DITA object element corresponds to the HTML object 
 * element, and attribute semantics derive from their HTML
 * definitions.
 */
*[class~="topic/object"]:before {
  content: oxy_button(actionID, "play.media", transparent, true, enableInReadOnlyContext, true);
}
@media print {
  *[class~="topic/object"] {
    display: none;
  }
}
/*
 * =========================================================
 * 
 * <param>
 *
 * The param (parameter) element specifies a set of values that 
 * may be required by an object at runtime. 
 */
*[class~="topic/param"]:before {
  content: "\A Param name: " oxy_textfield(edit, "@name", columns, 10) " value: " oxy_textfield(edit, "@value", columns, 10);
}
/*
 * ==========================================================
 * 
 * <p>
 * 
 * The p element is a single paragraph containing a single 
 * main idea.
 */
*[class~="topic/p"] {
  display: block;
  margin: 0.5em 0;
}
/* ==========================================================
 * 
 * <ph>
 * 
 * The ph element is used to enclose a phrase for reuse or 
 * conditional processing (for example, when part of a paragraph 
 * applies to a particular audience). 
 */
*[class~="topic/ph"] {
  display: inline;
}
/* ==========================================================
 * 
 * <pre>
 * 
 * The pre element includes preformatted text that must preserve 
 * line breaks and spaces entered manually by the author in the 
 * content of the element. It typically presents the content in a 
 * monospaced type font (depending on your output formatting 
 * processor).
 */
*[class~="topic/pre"] {
  display: block;
  /*See -colors.css */
  white-space: pre;
  margin: 0.5em 0;
  margin-right: 0.5em;
  padding: 0.5em;
  /* -monospace- >>> */
  font-family: monospace;
  font-size: 0.9em;
  /* <<< */
}
@media print {
  *[class~="topic/pre"] {
    /* Avoid loosing content through bleeding */
    white-space: pre-wrap;
  }
}
/* ==========================================================
 * 
 * <q>
 * 
 * The q element includes content quoted from another source. This 
 * element is used for short quotes which are displayed inline. Use 
 * the long quote element (<lq>) for quotations that should be set 
 * off from the surrounding text. 
 * Authors should not add quote punctuation manually when using the 
 * q element. Processors that render the q element should add 
 * appropriate styling, such as locale-specific quotation marks.
 */
*[class~="topic/q"] {
  display: inline;
}
*[class~="topic/q"]:before {
  content: open-quote;
}
*[class~="topic/q"]:after {
  content: close-quote;
}
/* ==========================================================
 * 
 * <section>
 * 
 * The section element represents an organizational division in 
 * a topic. Sections are used to organize subsets of information 
 * that are directly related to the topic.
 */
*[class~="topic/section"] {
  display: block;
  margin: 0.5em 0;
  -oxy-foldable: true;
  -oxy-not-foldable-child: title;
}
/* ==========================================================
 * 
 * <sectiondiv>
 * 
 * The sectiondiv element allows logical grouping of content 
 * within a section. There is no additional meaning associated 
 * with the sectiondiv element. 
 */
*[class~="topic/sectiondiv"] {
  display: block;
}
/* ==========================================================
 * 
 * <term>
 * 
 * The term element identifies words that may have or require 
 * extended definitions or explanations. 
 */
*[class~="topic/term"] {
  display: inline;
  font-style: italic;
}
/* ==========================================================
 * 
 * <text>
 * 
 * The text element associates no semantics with its content. 
 * It exists to serve as a container for text where a container 
 * is needed (for example, for using the conref attribute, or 
 * for restricted content models in specializations).
 */
*[class~="topic/text"] {
  display: inline;
}
/* ==========================================================
 * 
 * <tm>
 * 
 * The tm element in DITA is used to markup and identify a term 
 * or phrase that is trademarked. Trademarks include registered 
 * trademarks, service marks, slogans and logos.
 */
*[class~="topic/tm"] {
   -oxy-display-tags: none;
}
*[class~="topic/tm"]:after {
  content: "\2122";
}
*[class~="topic/tm"][tmtype="reg"]:after {
  content: "\AE";
}
*[class~="topic/tm"][tmtype="service"]:after {
  content: "\2120";
}
