/*
 * ==================================================
 * ==================================================
 * 
 * Body topic elements.
 * 
 * langRef/containers/body-elements.html
 * 
 * The related-links section of DITA topics is a special 
 * structure that contains links. Links support navigation 
 * from a topic to other related topics or resources.
 * 
 * ==================================================
 * ==================================================
 *
 *  
 * TODO - i18n
 * 
 */

/* ==================================================
 *
 *  <link>
 * 
 * The link element defines a relationship to another 
 * topic. Links are typically sorted when displayed based 
 * on their attributes, which define the type or role of the 
 * link's target in relation to the current topic.
 */
*[class~="topic/link"] {
    display: block;
}

/* ==================================================
 *
 *  <xref>
 * 
 * Use the xref element to provide an inline cross 
 * reference. It is commonly used to link to a different 
 * location within the current topic, a different topic, 
 * a specific location in another topic, or an external 
 * resource. The target of the crossreference is specified 
 * using the href or keyref attributes.
 */ 
*[class~="topic/link"][href]:before,
*[class~="topic/xref"][href]:before {
    link: attr(href);
}

@media oxygen {
  *[class~="topic/link"][href]:before,
  *[class~="topic/xref"][href]:before {
    content:url("../../img/link.png");
  }  
}
*[class~="topic/link"],
*[class~="topic/xref"] {
    /*See -colors.css */
    text-decoration:underline;    
}

@media print {
  *[class~="topic/link"],
  *[class~="topic/xref"] {
      text-decoration:none;    
  }  
}

*[class~="topic/link"][href]:empty,
*[class~="topic/xref"][href]:empty,
*[class~="topic/link"][type][href]:empty,
*[class~="topic/xref"][type][href]:empty {
    content: oxy_label(text, oxy_getSomeText(oxy_link-text(), 150, true));
}
/*EXM-28844 Show rendered text in-place in Author when referencing external resources.*/
*[class~="topic/link"][href][scope="external"]:empty,
*[class~="topic/link"][href][format="html"]:empty,
*[class~="topic/xref"][href][scope="external"]:empty ,
*[class~="topic/xref"][href][format="html"]:empty {
    content: oxy_label(text, oxy_getSomeText(attr(href), 150, true));
}


/* 
 *
 * Add (on page NNN) annotation in PDF. 
 * 
 */
@media print {  
    *[class ~= "topic/xref"][href]:after,
    *[class ~= "topic/link"][href]:after {
        font-style:italic;
        content: " (page " target-counter(attr(href), page) ")";
        link: attr(href);
    }
    /* For external links, do not show the page annotation */
    *[class ~= "topic/xref"][href^='http://' ]:after,
    *[class ~= "topic/link"][href^='http://' ]:after,
    *[class ~= "topic/xref"][href^='https://' ]:after,
    *[class ~= "topic/link"][href^='https://' ]:after,
    *[class ~= "topic/xref"][href^='ftp://' ]:after,
    *[class ~= "topic/link"][href^='ftp://' ]:after {     
        content:none !important;        
    }    
}



@media screen {
    /*
     * Present the roles of the links, but only in the editor
     * Add an link icon after the role name, so the user 
     * can imagine this is a link.
     */     
    *[class~="topic/link"][role]:before{
        /*See -colors.css */
        content:none;
        font-weight:bold;
        text-decoration:none;
        content: url("../../img/link.png") "[" attr(role) "] ";
    }
    /* Deprecated */
    *[class~="topic/link"][role="other"]:before{
        text-decoration:line-through;
    }
    *[class~="topic/link"][role="sample"]:before{
        text-decoration:line-through;
    }
    *[class~="topic/link"][role="external"]:before{
        text-decoration:line-through;
    }
}

/*
 * 
 * The structure navigation links should be hidden when printing.
 * 
 */
@media print {  
      *[class~="topic/link"][role="child"],
      *[class~="topic/link"][role="sibling"],
      *[class~="topic/link"][role="next"],
      *[class~="topic/link"][role="previous"],
      *[class~="topic/link"][role="cousin"],
      *[class~="topic/link"][role="ancestor"],
      *[class~="topic/link"][role="descendant"]{
        display:none;      
      }
}


/*
 * Put the link property on the entire elment, so it can 
 * be clicked.
 * TODO - dan - poate ar trebui pe orice element cu href?
 */
@media print {            
    *[class~="topic/xref"][href],
    *[class~="topic/link"][href],
    *[class~="pr-d/fragref"][href],
    *[class~="pr-d/synnoteref"][href],
    *[class~="topic/source"][href]{
        link: attr(href);
    }
    *[class~="map/navref"][mapref]{
        link: attr(mapref);
    }
}


/* ==================================================
 *
 *  <linklist>
 * 
 * The linklist element defines an author-arranged group 
 * of links. When rendering the links, processors should preserve 
 * the order of links specified within a linklist element.
 * 
 */
*[class~="topic/linklist"]{
    display: block;
    list-style-type:disc;
}
@media print{
    *[class~="topic/linklist"]{
        list-style-type:none;
    }
}
*[class~="topic/linklist"] *[class~="topic/linklist"]{
    margin-left: 1.5em;
    margin-bottom: 1em;
}
*[class~="topic/linklist"] > *[class~="topic/title"]{
    font-size: 1em;
    margin-bottom:0;
}
*[class~="topic/linklist"] > *[class~="topic/link"] {
    display:list-item;
    margin-left:1em;
}

 

/* ==================================================
 *
 *  <linkpool>
 * 
 * The linkpool element defines a group of links that have common 
 * characteristics, such as type or audience or source.
 * When links are in related-links or linkpool elements, the 
 * organization of links on final output is determined by the 
 * output process, not by the order that the links actually occur 
 * in the DITA topic.
 */
*[class~="topic/linkpool"]{
    display: block;
    list-style-type:circle;
}
*[class~="topic/linkpool"] *[class~="topic/linkpool"]{
    margin-left: 1.5em;
    margin-bottom: 0.5em;
}
*[class~="topic/linkpool"][collection-type]:before{
  /* -before_bold- >>> */
  font-weight: bold;
  /* <<< */
  content:oxy_capitalize(attr(collection-type)) ": ";
}
*[class~="topic/linkpool"] > *[class~="topic/link"] {
    display:list-item;
    margin-left:1em;
}

 
 
/* ==================================================
 *
 *  <linktext>
 * 
 * The linktext element provides the literal label or line of text for 
 * a link. For links to local DITA topics, the text of a link can 
 * typically be resolved during processing. 
 * Use the linktext element only when the target cannot be reached,
 * such as when it is a peer or external link.
 */
*[class~="topic/linktext"] {
    display:inline;
}
 
  
/* ==================================================
 *
 *  <linkinfo>
 * 
 * The <linkinfo> element allows you to place a
 * descriptive paragraph following a list of links
 * in a linklist element.
 */
*[class~="topic/linkinfo"] {
    display:block;
}
