@import "-table-cals.css";

*[class~="topic/table"] {
  -oxy-foldable:true;
  -oxy-not-foldable-child:title;
}


*[class~="topic/table"] > *[class~="topic/desc"]{
    display:block;
}

*[class~="topic/table"][frame] {
    border-style:none;
}

*[class~="topic/table"][frame] > *[class~="topic/tgroup"] {
  border-style:none;
}

*[class~="topic/table"][frame='above'] > *[class~="topic/tgroup"],
*[class~="topic/table"][frame='top'] > *[class~="topic/tgroup"] {
  border-top-style:solid;
}

*[class~="topic/table"][frame='below'] > *[class~="topic/tgroup"],
*[class~="topic/table"][frame='bottom'] > *[class~="topic/tgroup"] {
  border-bottom-style:solid;
}

*[class~="topic/table"][frame='rhs'] > *[class~="topic/tgroup"] {
  border-right-style:solid;
}

*[class~="topic/table"][frame='lhs'] > *[class~="topic/tgroup"] {
  border-left-style:solid;
}

*[class~="topic/table"][frame='vsides'] > *[class~="topic/tgroup"],
*[class~="topic/table"][frame='sides'] > *[class~="topic/tgroup"] {
  border-left-style:solid;
  border-right-style:solid;
}

*[class~="topic/table"][frame='hsides'] > *[class~="topic/tgroup"],
*[class~="topic/table"][frame='topbot'] > *[class~="topic/tgroup"] {
  border-bottom-style:solid;
  border-top-style:solid;
}

*[class~="topic/table"][frame='box'] > *[class~="topic/tgroup"],
*[class~="topic/table"][frame='border'] > *[class~="topic/tgroup"],
*[class~="topic/table"][frame='all'] > *[class~="topic/tgroup"] {
  border-style:solid;
}