<!--

Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

-->

<h3>「#productName#」WebHelpシステムの回復の確認</h3>

<p>「#product#」製品のフィードバックシステムのパスワード回復要求を受け付けました。</p>

<br/>次のリンクをクリックして、確認してください：

<br/>#link#

