<!--
    
Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

-->

#user#「#userName#」さんが<a href="#page#">#page#</a>ページに新しいコメントを付けました。内容：<br/>

<pre>#text#</pre>
<br/>

この新しいコメントを<a href="#aproveLink#">「承認」</a>または<a href="#deleteLink#">「削除」</a>できます。
