<!--
    
Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

-->

「#user#」さんが<a href="#page#">#page#</a>ページに新しいコメントを付けました。内容：<br/>
<pre>#text#</pre>
