<!--
    
Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

-->

#user#「#userName#」さんが<a href="#page#">#page#</a>ページに新しい検閲なしコメントを付けました。内容：<br/>
<pre>#text#</pre>
<br/>  
