<!--
    
Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

-->

<h3>#name#「#username#」さん、「#productName#」のWebHelpシステムへようこそ！</h3>

次のリンクをクリックして、登録を確認してください：
<br/>
#confirmationLink#
<br/>
このリンクの期限は7日間です！
<br/>
今回新規登録されたアカウントは、下記の製品について有効となります：
<br/> 
#products#