/*

Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

*/

@import "print.css";

/* Start RTL */
html[dir="rtl"] .navnext {
    float: left;
    background-image: url('../img/nav_left16.png');
    background-position: right;
    padding-bottom: 1px;
}

html[dir="rtl"] .navfooter .navnext {
    float: none;
}

html[dir="rtl"] .navprev {
    float: right;
    background-image: url('../img/nav_right16.png');
    background-position: right;
    padding-bottom: 1px;
}

html[dir="rtl"] .navparent {
    background-position: right;
    padding-bottom: 1px;
}

html[dir="rtl"] div.footer{
    float: left;
}
/* End RTL */

body {
  background-color:transparent;
  font-family: arial, helvetica, "Lucida Grande", Verdana, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
  line-height:18px;
  font-size:12px;
 
}

a.link {
    text-decoration: none;
}

.navheader{
    min-width: 326px;
    text-align: right;
}
.navheader_linktext,
.navheader_separator{
    display: none;
}
.navnext a,.navprev a,.navparent a{
    padding-left: 15px;
    display: inline-block;
}
.navparent,.navprev,.navnext{
    background-repeat: no-repeat;
    margin-left: 5px;
    cursor: pointer;
    padding-right: 10px;
    padding-bottom: 5px;
    line-height: 16px;
    display: inline-block;
    text-indent: 3px;
    min-width: 16px;
    min-height: 16px;
}
.navparent{
    background-image: url('../img/nav_up16.png');
}
.navprev{
    background-image: url('../img/nav_left16.png');
}
.navnext{
    background-image: url('../img/nav_right16.png');
    float:right;
}

span.frames{ cursor:pointer; padding:0 5px 0 0; }

a:visited{
  color:#660066;        
}
a:hover{
  color:red;
}

a span.frames{
/*
 * Patch 18.08.2010 EXM-18336
 * color:navy;
 */
    color:#0000FF; 
    text-decoration:underline;
}
/*
 * Patch 18.08.2010 EXM-18336
 * a:hover{ 
 *    color:red; 
 *    text-decoration:underline;
 * }
 * 
 */

table.nav{
  width:100%;  
  vertical-align:middle;
}

table.nav td + td {
  text-align:left;
  padding:0 0.4em 0 0;
}

/*
 * Patch EXM-23770
 */
 .related-links{
   margin-top:30px;
}


/* Patch EXM-18336
 * h1.topictitle1 {
 *   color:black;
 *   background-color:#eee;  
 *   padding:0.3em 0 0 0.2em;
 *   margin:0 0.3em 0 0;
}
 */
h1.topictitle1 {
  color:black;
  background-color:#C0C0C0;
  font-size: 20px;  
  padding:0.4em 0 0.3em 0.7em;
  margin:0;
}

.booklibrary, .booktitlealt {
    display:none;
}

div.rate_page{float:left; width:400px; margin:40px 0 0 0;}
div.rate_response {color:#555; font-size:0.9em;}
.stars {
  position:absolute;
  width:105px;
  height:16px;
  left:140px;
  margin:-15px 0 0 0;
  background:url("../img/dot.png") no-repeat 0 1px;
  overflow:hidden;
  padding:0;
}

ul.stars li{  margin:0; height:20px; width:21px;position:absolute;float:left;list-style-type:none;}
ul.stars li a{ text-decoration:none; position:absolute; overflow:hidden; padding:0; margin:0;}
ul.stars li a:hover, ul.stars li a.show_star {
    text-decoration:none;
    background:url("../img/star.png") no-repeat 0 0;
    height:25px;
}
input {margin:14px 0 0 0;}
textarea.text-input{margin:4px 0 0 0; width:225px; height:100px; border:1px solid #ccc;}

a#star1 { width:18px; z-index:6;  }
a#star2 { width:40px; z-index:5; }
a#star3 { width:60px; z-index:4; }
a#star4 { width:80px; z-index:3; }
a#star5 { width:100px; z-index:2; }

div#rate_comment {clear:both; margin:14px 0 0 0;}
div.rate_response {margin:-14px 0 0 0; }
.small {font-size:0.9em;}
.hide {display:none;}
.show {display:block;}

/*----------------------*/


/*----------------
    The footer. 
-----------------*/

div.footer{  
  margin:2em 0.6em 1.5em 0;
  float:right;
  line-height:24px;
  color:#444;
  font-size:0.9em
}
a.oxyFooter{text-decoration:none; color:#444}

.navfooter .navnext{
    float:none;
}
.navfooter{
  margin:3em 0 0 0; 
  padding:0.4em 0 0 0;
}

div.footer span.oXygenLogo img{  
  vertical-align:bottom;
  border:0;
}
div.footer span.xmlauthor{
  margin-bottom:14px;
}

#myPassword, #myUserName{
  width:100%;  
}

/*----------------*/
/*The copyright.*/
div, td{
    font-size:10pt;
}

div.copyright{
    font-size:8pt;
    padding-top:1em;
}
#nav_tree div.copyright{
    padding-top:0.2em;
    padding-left:1em;
}

/* Makes the titles stand-out */
h1.title,
h2.title{
    color:#333;
    background-color:#ececec;
    text-shadow:0 1px 0 #fff;
    padding: 0.4em 0.4em 0.4em 0.4em;
    box-shadow: 0 1px 2px #999;
}

/* The navigation tree classes */
#nav_tree > ul{
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    margin-top: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    min-width:300px;
    padding: 1em;
    font-size:10pt;
}

#content{
    border-left:2px solid gray;
    padding-left:1em;
}

#nav_tree ul ul{
    margin:0;
    padding:0;
}

#nav_tree form{
    margin-top:0.5em;
    margin-bottom:0.5em;
    padding-right:0.5em;
    text-align:right;
}
#nav_tree form input{
    font-size:8pt;
}

#nav_tree li {
    margin-top: 0.2em;
    margin-left: 1em;
    list-style-type:none;
}

/* The links */
#nav_tree a.nav_tree{
    color:black;
    background-color:inherit;
}

/* The selected page. */
#nav_tree li.nav_tree_last_open_book > a{
    background-color: #333399;
    color:white;
    text-decoration:none;
}

#nav_tree li:before{
    display:inline;
    vertical-align:text-bottom;
    padding-top:0.2em;
    padding-right:0.2em;
}


/* Title displayed over the tree area.*/
#nav_tree p.nav_title { 
    font-size: 14pt; 
    font-weight: bold; 
    margin: 0.5em;
}
#nav_tree p.nav_title a{ 
    text-decoration:none;
    color:black;
    background-color:inherit;
}

/* The path in the document displayed over the content.*/
div.nav_path{
    text-align:right;
}

.redX {
    color:red;
    background-color:inherit;
    font-size:1.2em;
}

.oXygenLogo {
    color:#1166DD;
    background-color:inherit;
    font-weight:bold;
    font-size:1.2em;
}

.highlight { 
    background-color: #FFFF88; 
}

#permalink>a {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/link.png") no-repeat;
  float: right;
  font-size: xx-small;
  padding: 0 3px 0 3px;
  margin-right: 3px;
}

#printlink>a{
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/print.png") no-repeat;
    float: right;
    font-size: xx-small;
    padding: 0 3px 0 3px;
    margin-right: 3px;
    cursor: pointer;
}

/* Use the admonitions from the oXygen WebHelp resources. */
.warningtitle,
div[class="warning"]>h3{
    background-image:url("../img/warning.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.warningtitle {
    font-weight:bold;
}

.notetitle,
div[class="note"]>h3{
    background-image:url("../img/note.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}


.cautiontitle,
div[class="caution"]>h3 {
    background-image:url("../img/caution.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.troubletitle,
div[class="trouble"]>h3 {
    background-image:url("../img/troubleshooting.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}


.importanttitle,
div[class="important"]>h3,
.attentiontitle,
div[class="attention"]>h3,
.noticetitle,
div[class="notice"]>h3{
    background-image:url("../img/important.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.remembertitle,
div[class="remember"]>h3{
    background-image:url("../img/remember.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.restrictiontitle,
div[class="restriction"]>h3{
    background-image:url("../img/restriction.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.dangertitle,
div[class="danger"]>h3{
    background-image:url("../img/danger.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

.tiptitle,
div[class="tip"]>h3{
    background-image:url("../img/tip.png") !important;
    background-repeat:no-repeat;
    padding:4px 4px 4px 23px;
}

/*
 * Make the programlisting/codeblock stand-up.
 */
pre {
  padding: 0.5em;
  background-color: #EEE;
  overflow: auto;
  max-height: 600px;
  margin: 0.5em;
} 


/*  OXYGEN PATCH  EXM-31508  - window titles and UI controls should be bold. */
.uicontrol, .wintitle { font-weight: bold; }


/* OXYGEN PATCH START - EXM-18138 - Insert space between button image and button name. */
span.uicontrol > img {
  padding-right: 5px;
}
/* OXYGEN PATCH END - EXM-18138 */

/* OXYGEN PATCH START EXM-17248 - Center figure captions. */
div.fignone p.figcap {
  display:block;
  text-align:left;
  font-weight:bold;
  padding:2px 10px 5px 10px;
}

div.fignone p.figcapcenter {
  display:block;
  text-align:center;
  font-weight:bold;
  padding:2px 10px 5px 10px;
}

div.fignone p.figcapright {
  display:block;
  text-align:right;
  font-weight:bold;
  padding:2px 10px 5px 10px;
}

div.fignone p.figcapjustify {
  display:block;
  text-align:justify;
  font-weight:bold;
  padding:2px 10px 5px 10px;
}

div.fignone img {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
/* OXYGEN PATCH END EXM-17248 */


/* IE6 & IE7 style */
@media screen\9 {
    .navheader{
        width: 360px;
        text-align: right;
    }
    .navnext{
        background-image: url('../img/nav_right16.png');
        float:none;
    }
}

.bold {
    font-weight:bold;
}

.italic {
    font-style:italic;
}

div.loadingError {
  color:red;
  font-weight:bold;
}
