/*
 * =====================================================
 * 
 * Defines the backmatter and frontmatter pages aspect.
 * 
 * It matches the XSL created <front-matter/>  or <back-matter/> element.
 * 
 * =====================================================
 */

@media print {

    front-matter,
    back-matter {
        page: matter-page;
    }

    @page matter-page {
        @top {          content:none }
        @bottom {       content:none }
        @bottom-right { content:none }
        @bottom-left {  content:none }
        @top-right {    content:none }
        @top-left {     content:none }
    }
}