/*
 * =====================================================
 * 
 * Defines the footnotes placement and aspect.
 * 
 * =====================================================
 */

@media print {
    *[class~="topic/fn"] {
        float: footnote;
        counter-increment: footnote;
    }

    *[class~="topic/fn"]::footnote-call {
        content: counter(footnote);
        font-size: 83%;
        vertical-align: super;
        line-height: none;
    }

    @page {
        @footnotes {
        	border-top: solid black thin;
        	padding-top: 8pt;
        }
    }
}