/*
 * =====================================================
 * 
 * Defines the front page aspect.
 * 
 * It matches the XSL created <front-page/> element.
 * 
 * =====================================================
 */

@media print {

    front-page {
        page: front-page;
    }

    front-page-title {
        display:block;
        text-align:center;
        margin-top:3in;
        font-size:2em;
        font-family:arial, helvetica, sans-serif;
        font-weight:bold;
    }

    @page front-page {
        @top {          content:none }
        @bottom {       content:none }
        @bottom-right { content:none }
        @bottom-left {  content:none }
        @top-right {    content:none }
        @top-left {     content:none }
    }
}