/*
 * =====================================================
 * 
 * Page size, margins, borders, etc..
 * =====================================================
 */

@page {
    padding-top:0.2em;
    padding-bottom:0.2em;

	/* Letter */
    size: 8.5in 11in;
    margin: 1in;
}

    /* A4 size */
/*    size: 8.27in 11.69in;*/
    
/*
 * ------------------------------------------
 *  Margins 
 * ------------------------------------------
 */

    /* Normal */
/*    margin: 1in;*/
    /* Narrow */
/*    margin: 0.5in;*/
    /* Moderate */
/*    margin-top: 1in;
    margin-bottom: 1in;
    margin-left: 0.5in;
    margin-right: 0.5in;
*/    
    /* Wide */
/*    margin-top: 1in;
    margin-bottom: 1in;
    margin-left: 2in;
    margin-right: 2in;
*/    
    /* Office 2003 */
/*    margin-top: 1in;
    margin-bottom: 1in;
    margin-left: 1.5in;
    margin-right: 1.5in;
*/    
