/*
 * ======================================================
 * 
 * Table of Contents.
 * 
 * ======================================================
 */

@media print {

    *[class ~= "map/map"] > map {
        display: block;
        page: table-of-contents;
        counter-reset: toc_chapters;
    }

    /* The bookmap title migrates into the opentopic:map element. Since it is already on the 
       front page, it should be hidden. */
    *[class ~= "map/map"] > map > *[class ~= "topic/title"] {
        display:none;
    }


    @page table-of-contents {
        @top {          
           content: "Contents";
           font-weight: bold;
           font-size:2em;
           text-align:left;
        }
        @bottom {       content: counter(page, lower-roman) }
        @bottom-right { content: none }
        @bottom-left {  content: none }
        @top-right {    content: none }
        @top-left {     content: none }
    }


    *[class ~= "map/topicref"] {
        display:block;
    }

    *[class ~= "map/topicref"] *[class ~= "map/topicref"] {
        margin-left:2em;
    }

    /* The chapters from the opentopic:map are bolded and larger */
    *[class ~= "map/topicref"][is-chapter] {
        font-weight: bold;
    }
    *[class ~= "map/topicref"][is-chapter] > *[class ~= "map/topicref"]:not(is-chapter)  {
        font-weight: normal;
    }

    /* Hide sections below level 3. */
    *[class ~= "map/topicref"][is-chapter] > 
        *[class ~= "map/topicref"] > 
        *[class ~= "map/topicref"] > 
        *[class ~= "map/topicref"] {
        
        display:none;
    }


    /* A dotted line between the topic name and the page number. */
    *[class ~= "map/topicref"] *[class ~= "topic/navtitle"] {
        font-weight:inherit;
        /*EXM-32190 Link on topic title*/
        link:attr(href);
    }
    *[class ~= "map/topicref"] *[class ~= "topic/navtitle"]:before {
        content:none;
    }
    /*EXM-32190 Ignore displaying keywords metadata*/
    *[class ~= "map/topicmeta"] > *[class ~= "topic/keywords"],
    *[class ~= "map/topicmeta"] > *[class ~= "topic/prodinfo"] {
        display:none;
    }
    *[class ~= "map/topicref"] *[class ~= "topic/navtitle"]:after,
    /* For the Index page we do not have a navtitle, but a linktext */
    *[class ~= "map/topicref"] *[class ~= "map/linktext"]:after {
        display:inline;
        content: leader('.') target-counter(attr(href), page);
        link:attr(href);
    }
}