<!--

Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

-->

<h3>Wiederherstellungsbestätigung für &apos;&apos;#productName#&apos;&apos; Webhelp-System</h3>

<p>Sie haben eine Passwortwiederherstellung für unser Produktrückmeldesystem &apos;&apos;#product#&apos;&apos; angefragt.</p>

<br/>Bitte bestätigen Sie dies durch Anklicken des Links unten:

<br/>#link#

