<!--
    
Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

-->

Für Seite <a href="#page#">#page#</a> nach ''#user# [ #userName# ]'' wurde eine neue Bemerkung hinzugefügt mit dem Inhalt:<br/>

<pre>#text#</pre>
<br/>

Sie können dieser neuen Bemerkung <a href="#aproveLink#">Zustimmen</a> oder sie <a href="#deleteLink#">Löschen</a>.  
