<!--
    
Oxygen Webhelp plugin
Copyright (c) 1998-2015 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

-->

<h3>Willkommen #username# beim #productName# Webhelp-System!</h3>

Bitte klicken Sie auf den Link unten, um Ihre Registrierung zu bestätigen:
<br/>

#confirmationLink#
<br/>

Der angebotene Link ist nur 7 Tage gültig!
<br/>

Ihr neu erstelltes Konto ist für folgende Produkte gültig:
<br/> 
#products#