@import "dita.css";
@import "alternate-table-hide-colspec.css";

@namespace oxy "http://www.oxygenxml.com/extensions/author";

/*
===========================================
    DITA CSS for author preview area. 
===========================================
*/

oxy|reference:before,
oxy|entity:before {
  display: none !important;
  background-color:inherit !important;
}

oxy|reference,
oxy|entity {
    background-color: inherit !important;
}
