@import "dita.css";
@namespace oxy "http://www.oxygenxml.com/extensions/author";


@font-face {
    font-family:"caligraffitti";
    font-style:normal;
    src:url("../fonts/Calligraffitti-Regular.ttf");
}

:root {
    font-family: "papyrus", "caligraffitti", serif;
}

@media screen {
    :root {
        background-image:url("../img/papyrus.jpg");
        font-size:1.2em;
        border: 1px solid #c6c6c6;
        padding:1em;
    }
}

/*
 * Topic and Map Titles.
 */
*[class ~= "map/map"][title]:before,
*[class ~= "topic/title"] {
   color:#3057B2;
   font-size:larger;
}

@media oxygen-high-contrast-black {
    :root {
        background-color: transparent !important;
        border: 1px solid #333333 !important;
        background-image:url("../img/papyrus_dark.jpg");   
    }
}

